<template lang="">
    <div>
        <div v-if="selected_rate.currency === 'usd'">
            <p class="lead text-center">For International Bank transfer:</p>
                <div class="row">
                    <div class="col-md col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <p class="lead">
                                    Go to your bank and provide the details below.
                                </p>
                                    <ul>
                                        <li>Swift code : BOPIPHMM</li>
                                        <li>Account number : 4254-0095-18 (US Dollar  account)</li>
                                        <li>Account name : Philippine Society of Pathologists, Inc.</li>
                                        <li>Bank name: BANK OF THE PHILIPPINES ISLANDS</li>
                                        <li>Address : BPI PhilHeart Center Medical Arts Building Annex
                      Matalino St, Quezon City, 1100 Metro Manila</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>        
        </div>
        <div v-else>
            <p class="lead text-center">BPI Over-the-counter & BPI Online Banking instructions:</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="lead">
                                <strong>For BPI Over-the-counter:</strong>
                                <hr>
                                <ol>
                                    <li>
                                        Go to BPI Branch.
                                    </li>
                                    <li>
                                        Deposit <span v-if="selected_rate.currency === 'usd'">$ {{total.toFixed(2)}}</span> 
                                    <span v-else>P {{total.toFixed(2)}}</span>  to BPI account # <u>4253-04-7327</u>. 
                                    </li>
                                    <li>
                                        Scan or take a photo of the transaction receipt.
                                    </li>
                                    <li>
                                        Upload the image <a :href="/events/+event.id">here.</a>
                                    </li>
                                </ol>
                            </p>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="lead">
                                <strong>For BPI Online Banking:</strong>
                                <hr>
                                <ol>
                                    <li>
                                        Go to <a target="_blank" href="https://online.bpi.com.ph/portalserver/onlinebanking/sign-in">https://online.bpi.com.ph/portalserver/onlinebanking/sign-in</a>.        
                                    </li>
                                    <li>
                                        Transfer the 
                                            <span v-if="selected_rate.currency === 'usd'">$ {{total.toFixed(2)}}</span> 
                                            <span v-else>P {{total.toFixed(2)}}</span>
                                        to account # <u>4253-04-7327</u>.                 
                                    </li>
                                    <li>
                                        Screen capture the transaction receipt. 
                                    </li>
                                    <li>
                                        Upload the image <a :href="/events/+event.id">here.</a>
                                    </li>
                                </ol>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="alert alert-info" role="alert">
            <ul>
                <li class="lead">
                    Make sure you settle the payment as-soon-as-possible to confirm your registration.
                </li>
                <li class="lead">
                    After payment has been done, login to your account and select <span class="bg-danger text-uppercase">Pending uploading of transaction receipt</span>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props: ['event', 'selected_rate', 'total'],
    mounted() {
        
    },
}
</script>
<style lang="">
    
</style>