<template>
    <div class="container">
        <p>
            Your registration to {{event.title}} is now confirmed. Below is your confirmation code. Print this code and bring it on the Convention day. Bring this code to the registration area. Electronic copy of the Qr code is also accepted. A government Issued ID will be asked from you for verification.                    
        </p>

        {{qrcode}}

        <p>Thank you.</p>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.event = this.props_event 
            this.qrcode = this.props_qrcode
        },
        props: ['props_event', 'props_qrcode'],
        data(){
            return{
                event: [],
                qrcode: ''
            }
        }
    }
</script>
