<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-success" role="alert" v-if="isSuccess">
                    <p class="lead"><strong>Well done!</strong> You successfully changed your password. </p>
                    <hr>
                    <p><i class="fas fa-lightbulb"></i> What's next? <a href="/events">View events list</a></p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3><i class="fa fa-key"></i> Change password</h3>
                    </div>

                    <div class="card-body">
                        <form @submit.prevent="handleFormSubmit">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 form-control-label">New password:</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        placeholder="New password here"
                                        v-model="text_newPassword" required="" 
                                    >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 form-control-label">Confirm new password:</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        placeholder="Confirm new password here"
                                        v-model="text_confirmNewPassword" required="" 
                                    >
                                    <p>&nbsp <span class="text-danger" v-if="isPasswordMatched == false">This passwords didn't match. Try again.</span></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button 
                                        type="submit" 
                                        class="btn btn-secondary"
                                        :disabled="isPasswordMatched == false"
                                    >Submit</button>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.my_details = this.props_my_details
        },
        props: ['props_my_details'],
        data(){
            return{
                my_details: [],
                isPasswordMatched: null,
                text_newPassword: '',
                text_confirmNewPassword: '',
                isSuccess: null
            }
        },
        watch:{
            text_newPassword(){
                // this.isPasswordMatched = null
                // this.text_confirmNewPassword = ''
            },
            text_confirmNewPassword(e){
                this.isPasswordMatched = null
                if(e != this.text_newPassword){
                    this.isPasswordMatched = false
                }else{
                    this.isPasswordMatched = true

                }                
            }
        },
        methods:{
            async handleFormSubmit(){
                let fd = new FormData();
                fd.append('new_password', this.text_newPassword);
                let {data} = await axios.post('/profile/change-password', fd);
                if(data.status === 'ok'){
                    this.isSuccess = true
                }
            }
        }
    }
</script>
