<template>
    <div class="container">
        <bs4-modal :props_modalshow="modalShow">
            <div slot="header">
                <h4>Delete My Registration?</h4>
            </div>

            <div slot="body">
                <p class="lead">
                    You are about to delete your registration to
                    {{ event.title }}. If this is deleted, you can register
                    again. This action is irreversible. Are you sure you want to
                    continue?
                </p>
            </div>

            <div slot="footer">
                <button class="btn btn-secondary" @click="modalShow = false">
                    Cancel
                </button>
                <button
                    :disabled="isDeleting"
                    class="btn btn-danger"
                    @click="handleDeleteRegistrationButtonClicked"
                >
                    Delete and Register again
                </button>
                <loader v-if="isDeleting"></loader>
            </div>
        </bs4-modal>
        <bs4-modal :props_modalshow="showModal">
            <div slot="header">
                <h4>Upload BPI Receipt</h4>
            </div>

            <div slot="body">
                <div
                    class="alert alert-success"
                    role="alert"
                    v-if="isUploadSuccess"
                >
                    <h3><i class="fa fa-check"></i> Success!</h3>
                    <hr />
                    <p class="lead text-justify">
                        Your trasaction receipt has been successfully uploaded.
                        This will be subjected to manual verification. This make
                        take about 72 hours. Please wait for the confirmation
                        email.
                    </p>
                </div>
                <div class="row" v-else>
                    <div
                        :class="!selectedForUpload ? 'col-12' : ''"
                        class="col-4"
                    >
                        <div class="form-group">
                            <input
                                type="file"
                                class="form-control-file"
                                @change="handleFileChange"
                            />
                            <hr class="py-2" />
                        </div>
                    </div>
                    <div class="col-8" v-if="selectedForUpload">
                        <p class="lead text-center"><strong>Preview</strong></p>
                        <hr />
                        <img
                            :src="selectedForUpload"
                            class="img-fluid img-thumbnail"
                            style="transform: rotate(0deg);"
                            alt=""
                        />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col d-flex justify-content-start">
                        <button
                            class="btn btn-secondary rounded-0"
                            @click.prevent="handleCancelButtonClicked"
                            v-if="!isUploadSuccess"
                        >
                            <span>Cancel</span>
                        </button>
                        <button
                            class="btn btn-secondary rounded-0"
                            @click.prevent="handleOkButtonClicked"
                            v-else
                        >
                            <span>OK</span>
                        </button>
                    </div>
                    <div
                        class="col d-flex justify-content-end"
                        v-if="!isUploadSuccess"
                    >
                        <button
                            v-if="selectedForUpload"
                            @click.prevent="handleUploadButtonClicked"
                            class="btn btn-primary btn-block"
                        >
                            <i class="fa fa-upload"></i> UPLOAD NOW
                        </button>
                    </div>
                </div>
            </div>

            <div slot="footer"></div>
        </bs4-modal>
        <bs4-modal :props_modalshow="showToConvention">
            <div slot="header">
                <h4>Heads Up!</h4>
            </div>

            <div slot="body">
                <p class="lead">
                    Convention is not yet open.
                </p>
            </div>

            <div slot="footer">
                <button
                    class="btn btn-secondary"
                    @click="showToConvention = false"
                >
                    Close
                </button>
            </div>
        </bs4-modal>
        <div class="row justify-content-start mb-3">
            <div class="col-md-3">
                <a href="/events" class="btn btn-secondary btn-sm rounded-0"
                    ><i class="fa fa-arrow-left fa-sm"></i> Back to list</a
                >
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <slotted-card
                    :propsClassCardType="'border-primary rounded-0'"
                    :propsClassCardHeaderType="
                        'bg-primary text-light rounded-0'
                    "
                >
                    <div slot="header">
                        <h4>{{ event.title }}</h4>
                    </div>
                    <div slot="body">
                        <div class="row">
                            <div class="col-md col-sm-12">
                                <p class="mb-0"><strong>Date:</strong></p>
                                <p>{{ parseDate }}</p>
                                <p class="mb-0"><strong>Time:</strong></p>
                                <p>{{ parseTime }}</p>
                                <p class="mb-0"><strong>Venue:</strong></p>
                                <p>{{ event.venue }}</p>
                            </div>
                        </div>
                        <div
                            v-if="
                                event.description != null &&
                                    event.description != ''
                            "
                        >
                            <p class="mb-0"><strong>Description:</strong></p>
                            <p v-html="event.description"></p>
                        </div>
                        <div
                            v-if="
                                event.uploaded_description_file != null &&
                                    event.uploaded_description_file != ''
                            "
                        >
                            <p v-html="renderFileUpload"></p>
                        </div>
                        <div class="row " v-if="preRegStatus == 'on'">
                            <div class="col-8">
                                <!-- 
                                        <timer :endtime="props_event.end_registration" @handleTimerEnd="handleTimerEnd"></timer>      
                                    -->
                            </div>
                        </div>

                        <hr class="py-3" />
                        <div class="mb-3" v-if="!event.is_purchased">
                            <a
                                v-if="isDone == 'no' && preRegStatus == 'on'"
                                :href="'/events/' + event.id + '/register'"
                                class="btn btn-primary btn-lg"
                                ><i class="fa fa-user-plus"></i> Register to
                                this event</a
                            >
                        </div>
                        <div
                            class="mb-3"
                            v-if="
                                event.is_purchased &&
                                    event.is_purchased.payment_method ==
                                        'bpi' &&
                                    event.is_purchased.bpi_file_path == null &&
                                    event.is_purchased.discount_percent != '100'
                            "
                        >
                            <button
                                class="btn btn-secondary btn-lg"
                                @click="showModal = true"
                            >
                                <i class="fa fa-upload"></i> Upload BPI Receipt
                            </button>
                        </div>
                    </div>
                </slotted-card>
            </div>
            <div class="col-md-5">
                <div class="mb-3">
                    <slotted-card
                        :propsClassCardType="'border-secondary rounded-0'"
                        :propsClassCardHeaderType="
                            'bg-secondary text-light rounded-0'
                        "
                        v-if="event.is_purchased"
                        class="mb-3"
                    >
                        <div slot="header">
                            <h4>Payment Details</h4>
                            <p
                                v-if="
                                    event.is_purchased.bpi_file_path == null &&
                                        event.is_purchased.discount_percent !=
                                            '100'
                                "
                            >
                                <i class="fas fa-info-circle"></i> If you want
                                to change payment method or make changes to your
                                registration, you need to delete this
                                registration first.
                            </p>
                            <button
                                type="button"
                                class="btn btn-sm btn-danger"
                                @click="modalShow = true"
                                v-if="
                                    event.is_purchased.bpi_file_path == null &&
                                        event.is_purchased.discount_percent !=
                                            '100'
                                "
                            >
                                <i class="fas fa-times"></i> Delete Registration
                            </button>
                        </div>
                        <div slot="body">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <table class="table ">
                                        <tbody>
                                            <tr
                                                class=""
                                                style="background-color: #ECF0F1;"
                                            >
                                                <th colspan="2">Rate</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>
                                                        {{
                                                            event.purchased_rate
                                                                .category
                                                        }}
                                                    </p>
                                                </td>
                                                <td
                                                    class="d-flex justify-content-end"
                                                    v-if="
                                                        event.purchased_rate
                                                            .currency === 'usd'
                                                    "
                                                >
                                                    $
                                                    {{
                                                        event.purchased_rate
                                                            .amount
                                                    }}
                                                </td>
                                                <td
                                                    class="d-flex justify-content-end"
                                                    v-else
                                                >
                                                    P
                                                    {{
                                                        event.purchased_rate
                                                            .amount
                                                    }}
                                                </td>
                                            </tr>

                                            <tr
                                                class="text-danger"
                                                v-if="
                                                    event.is_purchased
                                                        .discount_type != 'null'
                                                "
                                            >
                                                <td>
                                                    <p>
                                                        {{
                                                            renderDiscountType(
                                                                event
                                                                    .is_purchased
                                                                    .discount_type
                                                            )
                                                        }}
                                                        -
                                                        {{
                                                            event.is_purchased
                                                                .discount_percent
                                                        }}%
                                                    </p>
                                                </td>
                                                <td
                                                    class="d-flex justify-content-end"
                                                    v-if="total !== 0"
                                                >
                                                    {{
                                                        totalDiscount
                                                            | two_decimal
                                                    }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table " v-if="purchased_mf">
                                        <tbody>
                                            <tr class="bg-light">
                                                <th colspan="2">
                                                    Membership Fee/s
                                                </th>
                                            </tr>
                                            <tr
                                                v-for="(item,
                                                index) in purchased_mf"
                                                :key="index"
                                            >
                                                <td>
                                                    <p>{{ item.name }}</p>
                                                </td>
                                                <td
                                                    class="d-flex justify-content-end"
                                                >
                                                    P {{ item.amount }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table ">
                                        <tbody>
                                            <tr class="bg-light">
                                                <th colspan="2">
                                                    Additional Fee
                                                </th>
                                            </tr>
                                            <tr
                                                v-for="(item,
                                                index) in additional_fees_details"
                                                :key="index"
                                            >
                                                <td>
                                                    <p>
                                                        {{
                                                            item.classification
                                                        }}
                                                    </p>
                                                </td>
                                                <td
                                                    class="d-flex justify-content-end"
                                                >
                                                    P {{ item.amount }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--
                                    -->
                                    <table
                                        class="table table-striped"
                                        v-if="event.purchased_accommodation"
                                    >
                                        <tbody>
                                            <tr>
                                                <th colspan="2">
                                                    Accommodation
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>
                                                        {{
                                                            event
                                                                .purchased_accommodation
                                                                .category
                                                        }}
                                                    </p>
                                                </td>
                                                <td
                                                    class="d-flex justify-content-end"
                                                >
                                                    {{
                                                        event
                                                            .purchased_accommodation
                                                            .amount
                                                    }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th colspan="2">
                                                    Payment method
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div
                                                        v-html="
                                                            renderPaymentMethodView(
                                                                event
                                                                    .is_purchased
                                                                    .payment_method
                                                            )
                                                        "
                                                    ></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th colspan="2">Status</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>
                                                        {{
                                                            event.is_purchased
                                                                .is_accepted ==
                                                            1
                                                                ? "PAID"
                                                                : "PENDING PAYMENT VERIFICATION "
                                                        }}
                                                        {{
                                                            event.is_purchased
                                                                .is_accepted ==
                                                                1 ||
                                                            event.is_purchased
                                                                .bpi_file_path ==
                                                                null
                                                                ? ""
                                                                : " (Please wait for the confirmation email)"
                                                        }}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <p class="lead">
                                        Total:
                                        <span
                                            class="d-flex justify-content-end"
                                            v-if="
                                                event.purchased_rate
                                                    .currency === 'usd'
                                            "
                                            >$ {{ total | two_decimal }}</span
                                        >
                                        <span
                                            class="d-flex justify-content-end"
                                            v-else
                                            >P {{ total | two_decimal }}</span
                                        >
                                    </p>
                                    <!-- 
                                        <div v-if="event.is_purchased.discount_type != 'null'">
                                            <p class="lead">
                                                <span class="text-danger d-flex justify-content-end" v-if="event.purchased_rate.currency === 'usd'"> - ${{totalDiscount.toFixed(2)}}</span>
                                                <span class="text-danger d-flex justify-content-end" v-else> - P{{totalDiscount.toFixed(2)}}</span></p>
                                            <hr>
                                            <p class="lead">
                                                <span class="d-flex justify-content-end" v-if="event.purchased_rate.currency === 'usd'">$ {{event.is_purchased.rate_details.amount - totalDiscount}}</span>
                                                <span class="d-flex justify-content-end" v-else>P {{(event.is_purchased.rate_details.amount - totalDiscount).toFixed(2)}}</span>
                                            </p>    
                                        </div>
                                        <div  v-if="additional_fees_details != null && additional_fees_details != ''">
                                            <p class="lead" v-for="(item, index) in additional_fees_details" :key="index">
                                                <span class="d-flex justify-content-end">+ P {{item.amount}}</span>
                                            </p>  
                                            <hr>
                                                <p class="lead">
                                                <span class="d-flex justify-content-end">P {{event.is_purchased.total}}</span>
                                            </p>                                          
                                        </div>                          
                                        <div v-else>
                                            <hr>
                                        </div>
                                    -->
                                    <hr />
                                </div>
                                <div class="col-12">
                                    <div
                                        class="alert alert-info"
                                        role="alert"
                                        v-if="
                                            event.is_purchased.is_accepted !=
                                                1 &&
                                                event.is_purchased
                                                    .discount_percent !=
                                                    '100' &&
                                                event.is_purchased
                                                    .payment_method == 'bpi' &&
                                                event.is_purchased
                                                    .bpi_file_path == null &&
                                                event.is_purchased.total !==
                                                    '0.00'
                                        "
                                    >
                                        <p>
                                            If you have not paid the
                                            registration fee, please pay ASAP.
                                            Then upload the receipt here.
                                        </p>
                                        <p class="lead">
                                            Ready to upload receipt?
                                            <span
                                                @click="showModal = true"
                                                style="cursor:pointer;"
                                                >Yes</span
                                            >
                                        </p>
                                    </div>
                                    <!-- 
                                    
                                    <button @click="showQrcode = !showQrcode" v-if="event.is_purchased.is_accepted == 1" type="button" class="btn btn-success btn-block"><i class="fas fa-qrcode"></i> View confirmation code</button>
                                    -->

                                    <img
                                        v-if="showQrcode"
                                        class="img-fluid"
                                        :src="
                                            '/storage/' +
                                                event.is_purchased.id +
                                                '.png'
                                        "
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </slotted-card>

                    <members-events-component-rates-list
                        :event="event"
                    ></members-events-component-rates-list>
                    <br />
                    <slotted-card
                        v-if="
                            user.classification != 'Non-Member' &&
                                user.classification != 'International Delegate'
                        "
                        :propsClassCardType="'border-primary rounded-0'"
                        :propsClassCardHeaderType="
                            'bg-primary text-light rounded-0'
                        "
                    >
                        <div slot="header">
                            <h4>Additional Fees</h4>
                        </div>
                        <div slot="body">
                            <div
                                class="text-center text-warning"
                                v-if="event.additional_fees == ''"
                            >
                                <p>No additional fee/s available.</p>
                            </div>
                            <ul
                                v-for="item in event.additional_fees"
                                :key="item.id"
                                v-else
                            >
                                <li>
                                    <div class="row">
                                        <div class="col">
                                            {{
                                                item.classification
                                                    | additional_category_render
                                            }}
                                        </div>
                                        <div
                                            class="col"
                                            v-if="item.currency === 'usd'"
                                        >
                                            USD {{ item.amount }}
                                        </div>
                                        <div class="col" v-else>
                                            PHP {{ item.amount }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <hr />
                        </div>
                    </slotted-card>
                </div>
                <!--                 <slotted-card 
                    :propsClassCardType="'border-primary rounded-0'"
                    :propsClassCardHeaderType="'bg-primary text-light rounded-0'"
                >
                    <div slot="header">
                        <h4>Accommodations</h4>
                    </div>
                    <div slot="body">
                        <div class="text-center text-danger" v-if="event.accommodations == ''">
                            <p>No accommodations available.</p>
                        </div>
                        <ul v-for="accommodation in event.accommodations" :key="accommodation.id" v-else>
                            <li>
                                <div class="row">
                                    <div class="col">
                                        {{accommodation.category}}
                                    </div>
                                    <div class="col">
                                        P{{accommodation.amount}}
                                    </div>
                                </div>
                            </li>
                        </ul>                      
                    </div>
                </slotted-card> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.additional_fees_details = this.props_additional_fees_details;
        this.user = this.props_user;
        this.event = this.props_event;
        this.isDone = this.props_is_done;
        this.preRegStatus = this.props_pre_reg_status;
        this.renderPaymentDetails();
        this.discount =
            this.total - this.event.is_purchased
                ? this.event.is_purchased.total
                : 0;
        // this.totalDiscount = this.event.is_purchased.rate_details.amount * this.event.is_purchased.discount_percent/100
        // X = Y/(1 - P%)
        this.totalDiscount =
            this.total / (1 - this.event.is_purchased.discount_percent / 100);
        this.totalDiscount =
            (Number(this.event.is_purchased.rate_details.amount) *
                Number(this.event.is_purchased.discount_percent)) /
            100;
        console.log(this.totalDiscount);
        if (this.upload) {
            this.showModal = true;
        }
        this.purchased_mf = JSON.parse(
            this.props_event.is_purchased.membership_fees_id
        );
    },
    props: [
        "props_event",
        "props_is_done",
        "props_pre_reg_status",
        "props_user",
        "props_additional_fees_details",
        "upload"
    ],
    data() {
        return {
            showToConvention: false,
            isUploadSuccess: false,
            additional_fees_details: null,
            event: [],
            isDone: "",
            preRegStatus: "",
            rate_total: "",
            accommodation_total: "",
            total: "",
            withTax: "",
            discount: "",
            showModal: false,
            file: "",
            selectedForUpload: "",
            modalShow: false,
            isDeleting: false,
            showQrcode: false,
            user: [],
            totalDiscount: "",
            purchased_mf: []
        };
    },
    computed: {
        parseDate() {
            let start_dt = new Date(Date.parse(this.event.start_dt));
            let end_dt = new Date(Date.parse(this.event.end_dt));
            return start_dt.toDateString() + " - " + end_dt.toDateString();
        },
        parseTime() {
            return this.event.start_tm + " - " + this.event.end_tm;
        },
        renderFileUpload() {
            if (this.event.uploaded_description_file) {
                if (
                    this.event.uploaded_description_file.substr(
                        this.event.uploaded_description_file.length - 3
                    ) === "pdf"
                ) {
                    return (
                        '<object data="' +
                        this.event.uploaded_description_file +
                        '" type="application/pdf" width="100%" height="500px"><p>Alternative text - include a link <a href="' +
                        this.event.uploaded_description_file +
                        '">to the PDF!</a></p></object>'
                    );
                } else {
                    return (
                        "<img class='img-fluid' src='" +
                        this.event.uploaded_description_file +
                        "'>"
                    );
                }
            } else {
                return "No uploaded file.";
            }
        },
        renderDiscountAmount() {
            this.totalDiscount =
                (this.event.is_purchased.rate_details.amount *
                    this.event.is_purchased.discount_percent) /
                100;
            // return totalDiscount.toFixed(2)
        }
    },
    methods: {
        renderPaymentDetails() {
            let rates = this.event.rates;
            let accommodations = this.event.accommodations;
            if (this.event.is_purchased) {
                for (let i in rates) {
                    if (rates[i].id == this.event.is_purchased.rate_id) {
                        this.event.purchased_rate = rates[i];
                        this.rate_total = rates[i].amount;
                    }
                }
                for (let i in accommodations) {
                    if (
                        accommodations[i].id ==
                        this.event.is_purchased.accommodation_id
                    ) {
                        this.event.purchased_accommodation = accommodations[i];
                        this.accommodation_total = accommodations[i].amount;
                    }
                }
                this.total = Number(this.event.is_purchased.total);
                // let ratePlusAccommodation = Number(this.rate_total) + Number(this.accommodation_total)
                // // this.withTax = ratePlusAccommodation * .1
                // this.withTax = 0
                // if(this.event.is_purchased.payment_method == 'ushare'){
                //     this.total = ratePlusAccommodation + this.withTax
                // }else{
                //     this.total = ratePlusAccommodation

                // }
            }
        },
        handleCancelButtonClicked() {
            this.showModal = !this.showModal;
        },
        renderToUploadReceipt(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = e => {
                    this.selectedForUpload = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        },

        handleFileChange(e) {
            if (this.file != undefined) {
                this.selectedForUpload = "";
            }
            this.renderToUploadReceipt(e.target);
            this.file = e.target.files[0];
        },
        async handleUploadButtonClicked() {
            let fd = new FormData();
            fd.append("file", this.file);
            let { data } = await axios.post(
                "/events/" + this.event.id + "/upload-receipt",
                fd
            );
            if (data.status == "success") {
                this.isUploadSuccess = true;
                // window.location.href="/events/"+this.event.id
            }
        },

        async handleOkButtonClicked() {
            window.location.href = "/events/" + this.event.id;
        },
        renderDiscountType(discount_type) {
            if (discount_type === "sc") {
                return "Senior Citizen";
            } else if (discount_type === "od") {
                return "Discount Code";
            } else {
                return "";
            }
        },
        renderPaymentMethodView(payment_method) {
            if (payment_method === "bpi") {
                return `<div>
                                <p>BPI</p>
                            </div>`;
            } else {
                return `<p>Unionbank Online Payment</p>`;
            }
        },
        async handleDeleteRegistrationButtonClicked() {
            this.isDeleting = true;
            let fd = new FormData();
            fd.append("payment_details_id", this.event.is_purchased.id);
            let { data } = await axios.post(
                "/events/" + this.event.id + "/delete-registration",
                fd
            );
            if (data.status == "ok") {
                this.isDeleting = false;
                this.modalShow = false;
                window.location.href = "/events/" + this.event.id + "/register";
            }
        },
        handleTimerEnd(val) {
            if (val) {
                this.preRegStatus = "off";
            }
        }
    }
};
</script>
