<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-6 mb-2" v-for="(event,index) in events" :key="index">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{event.title | title_render}}</h4>
                                <p class="card-text pb-0 mb-0"><strong>Date:</strong></p>
                                <p class="card-text">{{parseDate(event.start_dt,event.end_dt)}}</p>
                                <div v-if="event.is_purchased">
                                    <p class="card-text pb-0 mb-0"><strong>Status:</strong></p>
                                    <p class="card-text" v-html="renderPurchaseText(event)"></p>
                                </div>
                                <a :href="'/events/'+event.id" class="btn btn-primary rounded-0"><i class="fa fa-search"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created() {
            this.events = this.props_events
        },
        props:['props_events'],
        data(){
            return{
                events: []
            }
        },
        methods:{
            parseDate(start_dt, end_dt){
                let s_dt = new Date(Date.parse(start_dt));
                let e_dt = new Date(Date.parse(end_dt));
                return s_dt.toDateString()+" - "+e_dt.toDateString();
            },
            renderPurchaseText(event){
                if(event.is_purchased.is_accepted == 1){
                    return '<p class="text-success text-uppercase"><strong>Paid</strong></p>'
                }else{
                    if(event.is_purchased.bpi_file_path == null){
                        if(event.is_purchased.discount_percent == 100){

                            return '<p class="text-info text-uppercase"><strong><i class="fa fa-spinner fa-spin"></i> PENDING PAYMENT VERIFICATION</strong></p>'
                        }
                        return '<p class="text-danger text-uppercase"><strong><a href="/events/'+event.id+'?upload=true" class="text-danger">Pending uploading of transaction receipt</strong></p>'
                    }
                    return '<p class="text-info text-uppercase"><strong><i class="fa fa-spinner fa-spin"></i> PENDING PAYMENT VERIFICATION</strong></p>'
                }
            }
        },
        computed:{
           
        }
    }
</script>
