<template>
    <div class="container">
        <default-registration
            v-if="props_user.classification != 'Non-Member'"
            :props_event="props_event"
            :props_is_done="props_is_done"
            :props_pre_reg_status="props_pre_reg_status"
            :props_formdatas="props_formdatas"
            :props_user="props_user"
            :props_membershipfees="props_membershipfees"
        ></default-registration>
        <non-member-registration
            v-else
            :props_event="props_event"
            :props_is_done="props_is_done"
            :props_pre_reg_status="props_pre_reg_status"
            :props_formdatas="props_formdatas"
            :props_user="props_user"
        ></non-member-registration>
    </div>
</template>

<script>
export default {
    props: [
        "props_event",
        "props_is_done",
        "props_pre_reg_status",
        "props_formdatas",
        "props_user",
        "props_membershipfees"
    ]
};
</script>

<style></style>
