<template>
    <div>
        <bs4-modal :props_modalshow="showModal" >
            <div slot="header">
                <h4>Add additional fee</h4>
            </div>
            <div slot="body">
                <div class="row mb-3">
                    <div class="col">
                        <div class="custom-control custom-checkbox" v-for="item in event.additional_fees" :key="item.id">
                            <input :id="item.created_at" v-model="checkbox_additional_fees" class="custom-control-input" type="checkbox"  :value="item">
                            <label :for="item.created_at" class="custom-control-label">{{item.classification}} - &#x20B1{{item.amount}}</label>
                        </div>
                        <div class="form-group">
                        <!-- 
                        <div class="custom-control custom-checkbox" v-for="item in event.additional_fees" :key="item.id">
                            <input :id="item.created_at" class="custom-control-input" v-model="checkbox_addtnl_fees[]" type="checkbox"  :value="item.id">
                            <label :for="item.created_at" class="custom-control-label">{{item.classification}} - ${{item.id}}</label>
                        </div>
                            <div class="custom-control custom-radio" v-for="item in event.additional_fees" :key="item.id">
                                <input type="radio" :id="item.created_at" v-model="select_addtnl_fee" :value="item.id" name="radio_addtnl_fee" class="custom-control-input">
                                <label class="custom-control-label" :for="item.created_at">
                                    <p v-if="item.currency==='usd'">{{item.classification}} - ${{item.amount}}</p>
                                    <p v-else>{{item.classification}} - &#x20B1{{item.amount}}</p>
                                </label>
                            </div>
                        -->
                            
                        </div>                                            
                    </div>
                </div>
            </div>

            <div slot="footer">
                <button class="btn btn-success rounded-0" @click="handleSelectAdditionalFeeSave">Save</button>
                <button class="btn btn-danger rounded-0" @click="handleCancelAdditionalFee">Cancel</button>
            </div>
        </bs4-modal>
        <div class="row justify-content-center">
            <div class="col-md-9" >
                <div v-show="!event.is_purchased">
                    <div v-if="isDone == 'no' && preRegStatus == 'on'">   
                        <slotted-card
                            :propsClassCardType="'border-primary rounded-0'"
                            :propsClassCardHeaderType="'bg-primary text-light rounded-0'"
                        >
                            <div slot="header">
                                <h4>Registration</h4>
                            </div>    
                            <div slot="body">
                                <div v-if="page==1">
                                    <p class="lead text-center">Select rate.</p>
                                    <i class="text-danger">
                                        *Please select the correct rate according to your membership classification. Discount will be computed in the subsequent pages.
                                    </i>
                                    <hr>
                                    <div class="row mb-3">
                                        <div class="col">
                                          
                                        <div class="form-group">
                                            <select id="my-select" v-model="select_sub_cat" class="custom-select" name="">
                                                <option value="">--Please select here---</option>
                                                <option value="ld">Local Deligate</option>
                                                <option value="id">International Deligate</option>
                                            </select>
                                        </div>
                                        <div v-if="select_sub_cat != ''">
                                            <div class="custom-control custom-checkbox" v-for="item in filtered_non_member" :key="item.id" >
                                                <input :id="item.created_at" v-model="checkbox_non_member_fees" class="custom-control-input" type="checkbox"  :value="item">
                                                <label :for="item.created_at" class="custom-control-label">
                                                    <p v-if="item.currency==='usd'">{{item.category}} {{item.sub_category}} (International) - ${{item.amount}}</p>
                                                    <p v-else>{{item.category}} {{item.sub_category}} (Local) - &#x20B1{{item.amount}}</p>
                                                    
                                                </label>
                                            </div>
                                        </div>
            <!--                                           <div class="form-group">
                                            <select class="custom-select" v-model="select_rate">
                                              <option 
                                                v-for="rate in event.rates" 
                                                :key="rate.id"
                                                :value="rate.id"
                                            >
                                                <p v-if="rate.currency==='usd'">{{rate.category}} - ${{rate.amount}}</p>
                                                <p v-else>{{rate.category}} - &#x20B1{{rate.amount}}</p>
                                                </option>
                                            </select>
                                          </div> -->
                                        </div>
                                    </div>

                                    <div class="row " >
                                        <div class="col d-flex justify-content-start">
                                            <a class="btn btn-warning rounded-0" href="/events"><i class="fas fa-angle-double-left"></i> Back to list</a>
                                        </div>
                                        <div class="col d-flex justify-content-end" v-if="select_rate || totalNonMemberFee > 0">
                                            <button class="btn btn-success rounded-0" @click="handleToPayment">Checkout <i class="fas fa-angle-double-right"></i></button>
                                        </div>
                                    </div>
                                </div>                             
                                <div v-if="page==2">
                                    <p class="lead text-center">Select accommodations.</p>
                                    <div class="form-group " v-if="event.accommodations[0].id != 0">
                                        <div class="custom-control custom-switch" >
                                            <input type="checkbox" @click="handleCheckboxChecked" class="custom-control-input" id="customSwitch1" :checked="isEnabled">
                                            <label class="custom-control-label" for="customSwitch1">Avail accommodations?</label>
                                        </div>
                                    </div>   
                                    <div v-else>
                                        <p class="text-danger" >No accommodation found. Please proceed to Payment Method.</p>
                                    </div>                             
                                    <hr>
                                    <div class="row mb-3" v-if="isEnabled">
                                        <div class="col">
                                          <div class="form-group">

                                            <select class="custom-select" v-model="select_accommodation">
                                              <option 
                                                v-for="accommodation in event.accommodations" 
                                                :key="accommodation.id"
                                                :value="accommodation.id"
                                            >
                                                {{accommodation.category}} - &#x20B1{{accommodation.amount}}</option>
                                            </select>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col d-flex justify-content-start">
                                            <button class="btn btn-success rounded-0" @click="page =1 "><i class="fas fa-angle-double-left"></i> Rates</button>
                                        </div>                                     
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-success rounded-0" @click="page=3">Payment method <i class="fas fa-angle-double-right"></i></button>
                                        </div>
                                    </div>
                                </div>                            
                                <div v-if="page==3">
                                    <p class="lead text-center">Select your payment method.</p>
                                    <hr>
                                    <div class="row mb-3">
                                        <div class="col-md-6 col-sm-12 py-0 my-0" v-for="(method,index) in payment_methods" :key="index" @click="handlePaymentMethodSelected(method)">
                                            <div class="card rounded-0" :id="payment_method_selected.value == method.value ? 'selected' : ''">
                                              <p class="card-header text-center">{{method.text}}</p>
                                              <img class="img-fluid " :src="method.dp" alt="Card image">
                                              <div class="card-body">
                                                <p class="text-center lead">{{method.subtitle}}</p>
                                              </div>
                                            </div>
                                        </div>
                                        <!--
                                            <div class="col py-0 my-0">
                                                <div class="card rounded-0" >
                                                <p class="card-header text-center">Unionbank credit card payment</p>
                                                <img class="img-fluid" src="/images/ushare.png" alt="Card image">
                                                <div class="card-body">
                                                    <p class="text-center lead mb-1">Credit card payment.</p>
                                                    <p class="text-center text-info"><small>--Coming soon--</small></p>
                                                </div>
                                                </div>
                                            </div>
                                        -->
                                    </div>
                                    <div class="row " v-if="payment_method_selected != ''">
                                        <div class="col d-flex justify-content-start">
                                            <button class="btn btn-success rounded-0" @click="page =1 "><i class="fas fa-angle-double-left"></i> Rates</button>
                                        </div>                                    
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-success rounded-0" @click="page=4">Checkout <i class="fas fa-angle-double-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="page==4">
                                    <p class="lead text-center">Checkout</p>
                                    <hr>
                                    <div>
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-8">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="2">Rate</th>
                                                        </tr>
                                                        <tr v-for="(item, index) in checkbox_non_member_fees" :key="index">
                                                            <td>
                                                                <p>{{item.category}} {{item.sub_category}} ({{item.currency == 'usd' ? 'International' : 'Local'}})</p>
                                                            </td>
                                                            <td class="d-flex justify-content-end" v-if="item.currency ==='usd' ">$ {{item.amount}}</td>
                                                            <td class="d-flex justify-content-end" v-else>&#x20B1 {{item.amount}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                               
                                                
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="2">
                                                                
                                                                <div class="form-group">
                                                                    <div class="custom-control custom-checkbox">
                                                                    <input 
                                                                        type="checkbox" 
                                                                        class="custom-control-input" 
                                                                        id="customCheck1"
                                                                        v-model="checkbox_addDiscount"
                                                                    >
                                                                    <label class="custom-control-label" for="customCheck1">
                                                                        Add discount
                                                                    </label>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td v-if="checkbox_addDiscount" colspan="2">
                                                            <div class="form-group">
                                                                <div class="custom-control custom-radio" v-if="select_sub_cat == 'ld' ">
                                                                <input 
                                                                    type="radio" 
                                                                    id="customRadio1" 
                                                                    name="customRadio" 
                                                                    class="custom-control-input"
                                                                    v-model="radio_discountType"
                                                                    value="sc"
                                                                    :disabled="discount != ''"
                                                                    
                                                                >
                                                                <label class="custom-control-label" for="customRadio1" >
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <p>Senior Citizen/PWD card No.</p>
                                                                            <!-- 
                                                                            <div class="row" v-if="radio_discountType == 'sc'">
                                                                                <div class="col-md-2">
                                                                                    <input type="checkbox"
                                                                                        :disabled="buttonClicked" 
                                                                                        v-model="checkbox_isLessThanSeventyOfAge">
    
                                                                                </div>
                                                                                <div class="col-md-10">
                                                                                    <label for="vehicle1"> 70 years old and above</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="custom-control custom-checkbox" v-if="radio_discountType == 'sc'">
                                                                            <input 
                                                                                type="checkbox"
                                                                                :disabled="buttonClicked" 
                                                                                class="custom-control-input" 
                                                                                id="customCheck2"
                                                                                v-model="checkbox_isLessThanSeventyOfAge"
                                                                            >
                                                                            <label class="custom-control-label" for="customCheck2">
                                                                                I am more than 70 years of age
                                                                            </label>
                                                                            </div> --> 
                                                                        </div>
                                                                        <div class="col"   v-if="radio_discountType == 'sc'">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group">
                                                                                <input type="file"  accept=".jpg,.png" class="form-control-file" :disabled="buttonClicked"  @change="handleFileChange">
                                                                                </div> 
                                                                                <small class="text-danger" v-if="scTextIsNull">This field is required.</small>              
                                                                            </div>                                  
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" v-if="radio_discountType == 'sc'">
                                                                        <div class="col" v-if="!checkbox_isLessThanSeventyOfAge">
                                                                            <p class="lead text-primary container" >Please upload clear picture of Senior Citizen ID, showing the fullname and Senior Citizen card number.</p>
                                                                        </div>
                                                                        <div class="col" v-else>
                                                                            <p class="lead text-danger container" >Please upload clear picture of Senior Citizen ID or any government issued id showing the fullname and DATE OF BIRTH.</p>
                                                                        </div>
                                                                    </div>

                                                                </label>
                                                                </div>
                                                                <hr>
                                                                <div class="custom-control custom-radio">
                                                                <input 
                                                                    type="radio" 
                                                                    id="customRadio2" 
                                                                    name="customRadio" 
                                                                    class="custom-control-input"
                                                                    v-model="radio_discountType"
                                                                    value="od"
                                                                    :disabled="discount != ''"
                                                                    >
                                                                <label class="custom-control-label" for="customRadio2">Other discount</label>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div v-if="radio_discountType">
                                                                <div class="row">
                                                                    <div class="col" v-if="radio_discountType == 'sc'">
                                                                        <!-- <div class="custom-control custom-checkbox">
                                                                        <input 
                                                                            type="checkbox"
                                                                            :disabled="buttonClicked" 
                                                                            class="custom-control-input" 
                                                                            id="customCheck2"
                                                                            v-model="checkbox_isLessThanSeventyOfAge"
                                                                        >
                                                                        <label class="custom-control-label" for="customCheck2">
                                                                            I am more than 70 years of age
                                                                        </label>
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col" >
                                                                    <!-- <div class="col-sm-12" v-if="radio_discountType == 'sc'  ">
                                                                        <div class="form-group">
                                                                        <input type="file" class="form-control-file" :disabled="buttonClicked"  @change="handleFileChange">
                                                                        </div> 
                                                                        <small class="text-danger" v-if="scTextIsNull">This field is required.</small>              
                                                                    </div>    -->                                                                 
                                                                        <!-- <input type="text" v-model="text_scDiscount" class="form-control " placeholder="Enter Senior Citizen/PWD Card No. here" v-if="radio_discountType === 'sc' ">
                                                                        <small class="text-danger" v-if="scTextIsNull">This field is required.</small> -->
                                                                        <input type="text" v-model="text_odDiscount" class="form-control" placeholder="Enter Discount Code here" v-if="radio_discountType === 'od' ">
                                                                        <small class="text-danger" v-if="isCodeExists == false">Discount code not found.</small>                                                              
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" v-if="checkbox_addDiscount">
                                                                
                                                                <button :disabled="buttonClicked" class="btn btn-success" @click="handleAddDiscountBtnClick">Confirm discount</button>
                                                                <button v-if="buttonClicked" class="btn btn-danger" @click="handleCancelDiscountBtnClick">Cancel</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table> 
                                                <table class="table table-striped" v-if="selected_rate.currency === 'php' && user.classification != 'Non-Member'">
                                                    <tbody>
                                                        <tr>
                                                            <th>Additional Fee</th>
                                                            <th>
                                                                <button :disabled="handleDisableAddFeeButton() " v-if="selected_addtnl_fee == ''" class="btn btn-primary float-right" type="button" @click="handleOpenAddFeeModal">Add fee</button>
                                                            </th>
                                                        </tr>
                                                        <tr v-show="selected_addtnl_fee != ''">
                                                            <td colspan="2">
                                                                <ol>
                                                                    <li v-for="(item, index) in selected_addtnl_fee" :key="index">
                                                                        <p>
                                                                            <span>{{item.classification}}</span>
                                                                            <span class="float-right">&#x20B1 {{item.amount}} | <small class="text-danger" @click="handleRemoveSelectedAdditional">Remove</small></span>
                                                                        </p>
                                                                    </li>
                                                                </ol>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>                                                                                    
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="2">Payment method</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                            <p class="mb-0">
                                                                {{
                                                                    payment_method_selected.text
                                                                }}
                                                            </p>
                                                            <p class="mb-0">
                                                                <strong>
                                                                    Account
                                                                    Name:
                                                                    PHILIPPINE
                                                                    SOCIETY OF
                                                                    PATHOLOGISTS,
                                                                    INC.
                                                                </strong>
                                                            </p>
                                                            <p class="mb-0">
                                                                <strong>
                                                                    Account
                                                                    Number:
                                                                    4253-04-7327
                                                                </strong>
                                                            </p>
                                                        </td>
                                                            <!-- <td class="d-flex justify-content-end"  v-if="payment_method_selected.value == 'ushare'">{{withTax | two_decimal}}</td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>                                        
                                            </div>
                                            
                                            <div class="col-4" >
                                            
                                                <p class="lead">
                                                    Total:
                                                    <div v-if="discount">
                                                        <span class="d-flex justify-content-end" v-if="select_sub_cat === 'id'">$ {{totalView | two_decimal}}</span>
                                                        <span class="d-flex justify-content-end" v-else>&#x20B1 {{totalView | two_decimal}}</span>
                                                    </div>
                                                    <div v-else-if="hasAdditional">
                                                        <small>renderSelectedDiscount</small>
                                                        <span class="d-flex justify-content-end" v-if="select_sub_cat === 'ld'">&#x20B1 {{totalView | two_decimal}}</span>
                                                    </div>
                                                    <div v-else>
                                                        <span class="d-flex justify-content-end" v-if="select_sub_cat === 'id'">${{total | two_decimal}}</span>
                                                        <span class="d-flex justify-content-end" v-else>&#x20B1 {{total | two_decimal}}</span>
                                                    </div>
                                                </p>
                                                <div v-if="discount">
                                                    <p class="">
                                                        <small class=" text-danger">
                                                            {{renderSelectedDiscount}}
                                                        </small>
                                                        <span class="text-danger float-right" v-if="select_sub_cat === 'id'">-$ {{discount}}</span>
                                                        <span class="text-danger float-right" v-else>-&#x20B1 {{discount}}</span>
                                                    </p>
                                                    <hr>
                                                    <p class="lead">
                                                        <span class="d-flex justify-content-end" v-if="select_sub_cat === 'id'">$ {{total | two_decimal}}</span>
                                                        <span class="d-flex justify-content-end" v-else>&#x20B1 {{total | two_decimal}}</span>
                                                    </p>                                            
                                                </div>
                                                <div v-else>
                                                    <hr>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row">
                                            <!-- 
                                            -->               
                                            <div class="col d-flex justify-content-start">
                                                <button class="btn btn-success rounded-0" @click="handlePaymentMethodBtnClicked"><i class="fas fa-angle-double-left"></i> Rates</button>
                                            </div>               
                                             
                                            <div class="col d-flex justify-content-end">
                                                <button v-if="!isProceeding" :disabled="discountIsValidated == false " class="btn btn-success rounded-0" @click="handleProceedButtonClicked">Proceed <i class="fas fa-angle-double-right"></i></button>
                                                <button v-else disabled class="btn btn-success rounded-0" ><i class="fa fa-spinner fa-spin"></i> Please wait...</button>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>

                                <div v-if="page==5">
                                    <div v-if="vcpercent != '100' && !checkbox_isLessThanSeventyOfAge">
                                        <page5
                                            :event="event"    
                                            :selected_rate="selected_rate"
                                            :total="total"
                                        ></page5>
                                    </div>
                                    <div v-else>
                                        <div class="card text-center">
                                            <div class="card-body">
                                                <h4 class="card-title text-success"><i class="fa fa-check"></i> Success</h4>
                                                <p class="card-text">
                                                    You are entitled to 100% discount. Please wait for the email confirmation from the Administrator.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>                                
                                    <!-- <div class="row">
                                        <div :class="!selectedForUpload ? 'col-12': ''" class="col-4">
                                            <div class="form-group">
                                              <input type="file" class="form-control-file" @change="handleFileChange">
                                              <hr class="py-2">
                                              <button v-if="selectedForUpload" @click.prevent="handleUploadButtonClicked" class="btn btn-primary btn-block"><i class="fa fa-upload"></i> Upload</button>
                                            </div>
                                        </div>
                                        <div class="col-8" v-if="selectedForUpload">
                                            <p class="lead text-center"><strong>Preview</strong></p>
                                            <hr>
                                            <img :src="selectedForUpload" class="img-fluid img-thumbnail" style="transform: rotate(0deg);" alt="">
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-secondary rounded-0" @click="handleSkipButtonClicked">Done</button>
                                        </div>                                    
                                    </div>
                                </div>                            
                            </div>
                        </slotted-card>                        
                    </div>
                    <div v-else>
                        <slotted-card
                            :propsClassCardType="'border-danger rounded-0'"
                            :propsClassCardHeaderType="'bg-danger text-light rounded-0'"
                        >
                            <div slot="header">
                                <h4>Heads up!</h4>
                            </div>    
                            <div slot="body">
                                <p>This events has ended. Go back to list of events by clicking the Go back button.</p>
                                <hr>
                                <a href="/events" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Go back</a>
                            </div>
                        </slotted-card>
                    </div>


                </div>
                <div v-show="event.is_purchased">
                    <slotted-card
                        :propsClassCardType="'border-danger rounded-0'"
                        :propsClassCardHeaderType="'bg-danger text-light rounded-0'"
                    >
                        <div slot="header">
                            <h4>Heads up!</h4>
                        </div>    
                        <div slot="body">
                            <p>You have already registered in this event. Go back to list of events by clicking the Go back button.</p>
                            <hr>
                            <a href="/events" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Go back</a>
                        </div>
                    </slotted-card>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        created() {
            this.event = this.props_event
            this.filtered_non_member = _.filter(this.event.rates, ['category', this.props_user.classification]);
            this.filtered_non_member = _.filter(this.filtered_non_member, ['currency', 'php']);
            this.filtered = _.remove(this.event.rates, function(n) {
                                return n.category != 'Non-Member'
                            });
            // console.log(_.filter(this.event.rates, ['category', this.props_user.classification]));
            // console.log(this.props_user.classification)

            for(let i in this.filtered){
                if(this.filtered[i].category === this.props_user.classification){
                    this.select_rate = this.filtered[i].category
                    this.selected_rate =  this.filtered[i]

                }
            }
            this.isDone = this.props_is_done
            this.preRegStatus = this.props_pre_reg_status
            this.event.accommodations.push({id:0, amount: 0})
            this.select_accommodation = this.isEnabled ? this.event.accommodations[0].id : 0
            this.payment_method_selected = this.payment_methods[0]
            this.formDatas = this.props_formdatas
            this.user = this.props_user
            // this.select_rate = this.props_user.classification
        },
        props:['props_event', 'props_is_done', 'props_pre_reg_status', 'props_formdatas', 'props_user', "props_membershipfees"],
        data(){
            return{
                isProceeding: false,
                totalNonMemberFee: '',
                select_sub_cat: '',
                filtered: [],
                filtered_non_member: [],
                checkbox_additional_fees: [],
                checkbox_non_member_fees: [],
                select_addtnl_fee: '',
                selected_addtnl_fee: [],
                showModal: false,
                redirect_url: window.location.href+'/redirect',
                event: [],
                payment_methods: [
                    {value: 'bpi', text: 'BPI Over-the-Counter or BPI Online Banking', subtitle:'Upload your BPI transaction receipt.', dp: '/images/bpi.png'},
                    // {value: 'ushare', text: 'Unionbank credit card payment', subtitle: 'Credit card payment.', dp: '/images/ushare.png'},
                ],
                payment_method_selected:[],
                user:[],
                page: 1,
                select_rate: '',
                select_accommodation: '',
                checkbox_addDiscount: false,
                radio_discountType: null,
                selected_rate: [],
                selected_accommodation: [],
                totalView: '',
                total: '',
                isEnabled: false,
                withTax: '',
                discount: '',
                file: '',
                selectedForUpload: '',
                text_scDiscount:'',
                text_odDiscount:'',
                formDatas: [],
                isCodeExists: null,
                buttonClicked: false,
                vcpercent: '',
                scTextIsNull: null,
                signed_field_names : 'access_key,profile_id,transaction_uuid,signed_field_names,unsigned_field_names,signed_date_time,locale,transaction_type,reference_number,amount,currency,bill_to_forename,bill_to_surname',
                discountIsValidated: null,
                checkbox_isLessThanSeventyOfAge: false,
                hasAdditional: false,
                checkedMembershipFees: [],
                membershipFeesSelected: []
            }
        },
        watch:{

            checkbox_non_member_fees(e){
                this.totalNonMemberFee= _.sumBy(this.checkbox_non_member_fees, item => Number(item.amount))
                this.total = Number(this.total) + Number(this.totalNonMemberFee)
                this.totalView = this.total
                this.calculateTotal()
            },
            
            select_sub_cat(e){
                this.checkbox_non_member_fees = []
                this.filtered_non_member = _.filter(this.event.rates, ['category', this.props_user.classification]);
                if(e == 'ld'){
                    this.filtered_non_member = _.filter(this.filtered_non_member, ['currency', 'php']);
                }else{

                    this.filtered_non_member = _.filter(this.filtered_non_member, ['currency', 'usd']);
                }

            },
            select_rate(e){
                // alert(this.props_user.classification != 'Non-Member')
                if(this.props_user.classification != 'Non-Member'){

                    this.selected_rate = []
                    let rates = this.filtered
                    for(let i in rates){
                        if(rates[i].category == e){
                            this.selected_rate = rates[i]
                        }
                    }
                    this.total = Number(this.selected_rate.amount) + Number(this.selected_accommodation.amount)
                    this.totalView = Number(this.selected_rate.amount) + Number(this.selected_accommodation.amount)
                    this.calculateTotal()
                }else{
                    this.total = Number(this.total) + Number(this.totalNonMemberFee)
                    this.totalView = this.total
                    this.calculateTotal()

                }
            },
            checkbox_additional_fees(data){
                this.selected_addtnl_fee = data
                
            },
            select_addtnl_fee(e){
                // this.totalView = Number(this.totalView) + Number(this.selected_addtnl_fee.amount)
                
                // alert(this.totalView)
            },
            select_accommodation(e){
                this.selected_accommodation = []
                let accommodations = this.event.accommodations
                for(let i in accommodations){
                    if(accommodations[i].id == e){
                        this.selected_accommodation = accommodations[i]
                    }
                }
                this.total = Number(this.selected_accommodation.amount) + Number(this.selected_rate.amount)
                this.totalView = Number(this.selected_accommodation.amount) + Number(this.selected_rate.amount)
                this.calculateTotal()
            },
            radio_discountType(){
                this.vcpercent = ''
                this.buttonClicked = false
                this.isCodeExists = null
                this.checkbox_isLessThanSeventyOfAge = false
                this.discount = ''
                this.text_odDiscount = ''
                this.text_scDiscount = ''
                this.file = ''
                this.checkbox_isLessThanSeventyOfAge = false
                this.scTextIsNull = false
                this.total = Number(this.totalNonMemberFee)
                this.totalView = this.total
            },
            checkbox_addDiscount(e){
                this.select_addtnl_fee = ''
                this.selected_addtnl_fee = []
                this.checkbox_additional_fees = []
                // this.returnDefaultTotal()
                if(this.radio_discountType === 'sc'){
                    if(this.text_scDiscount === ''){
                        this.discountIsValidated = false
                    }else{
                        this.discountIsValidated = true
                    }
                }else{
                    if(this.text_odDiscount === ''){
                        this.discountIsValidated = false
                    }else{
                        this.discountIsValidated = true
                    }
                }
                this.buttonClicked = false
                this.radio_discountType = 'sc'
                if(e === false){
                    this.selected_addtnl_fee = []
                    this.radio_discountType = null
                    this.discountIsValidated = true
                    this.clearDiscountInputs()
                }
            },
            text_odDiscount(e){
                this.returnDefaultTotal()
                this.discount = null
                this.buttonClicked = false
            },
            text_scDiscount(){
                this.discount = null
                this.returnDefaultTotal()
                this.buttonClicked = false
                this.scTextIsNull = null
            },
            checkedMembershipFees(e){
                this.total = this.selected_rate.amount
                const sum = e.reduce((accumulator, currentValue)=> Number(accumulator) + Number(currentValue.amount), 0)
                this.membershipFeesSelected = e.map(item => {
                    return item.id
                })
                this.total = Number(this.total) + sum
                this.totalView = this.total
            }
        },
        methods:{
            handleToPayment(){
                this.page=4
                if(this.props_user.classification == 'Non-Member'){
                    this.totalNonMemberFee= _.sumBy(this.checkbox_non_member_fees, item => Number(item.amount))
                    this.total = Number(this.total) + Number(this.totalNonMemberFee)
                    this.selected_rate = this.checkbox_non_member_fees[0]
                    // this.totalView = Number(this.selected_rate.amount) + Number(this.selected_accommodation.amount)
                    this.calculateTotal()
                }
                
            },
            handleDisableAddFeeButton(){
                if(this.checkbox_addDiscount){
                    if(this.discount){
                        return false
                    }else{
                        return true
                    }
                }else{
                    return false
                }
            },
            handleRemoveSelectedAdditional(){
                this.checkbox_addDiscount = false
                this.returnDefaultTotal()
                this.selected_addtnl_fee = [],
                this.checkbox_additional_fees = []
            },
            
            renderToUploadReceipt(input){
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = (e) =>{
                        this.selectedForUpload = e.target.result
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            },

            handleFileChange(e){
                this.buttonClicked = false
                if(this.file != undefined){
                    if(e.target.files[0].name.endsWith('.png') || e.target.files[0].name.endsWith('.jpg')){
                    }else{
                        this.selectedForUpload =''
                        e =null
                        alert('Invalid file format. Please select only file extension: jpg or png.');

                    }
                    this.selectedForUpload =''
                }


                

                
                // this.renderToUploadReceipt(e.target)          
                this.file = e.target.files[0]
            },
            handlePaymentMethodSelected(method){
                this.total = Number(this.selected_accommodation.amount) + Number(this.selected_rate.amount)
                this.payment_method_selected = method
                let totalWithoutTax = Number(this.selected_rate.amount)+Number(this.selected_accommodation.amount)
                this.calculateTotal()
            },
            calculateTotal(){
                // this.withTax = this.total * .1
                this.withTax = 0
                if(this.payment_method_selected.value == 'ushare'){
                    this.total = Number(this.total) + Number(this.withTax)
                }else{
                    if(this.props_user.classification === 'Non-Member'){
                        this.total = Number(this.totalNonMemberFee)
                    }else{

                        this.total = Number(this.selected_accommodation.amount) + Number(this.selected_rate.amount)
                    }
                }
            },
            handleCheckboxChecked(){
                this.isEnabled = !this.isEnabled
                if(this.isEnabled){
                    for(let i in this.event.accommodations){
                        if(this.event.accommodations[i].id == 0){
                            this.event.accommodations.splice(i,1)
                        }
                    }
                    this.select_accommodation = this.event.accommodations[0].id

                }else{
                    this.event.accommodations.push({id:0, amount: 0})
                    this.select_accommodation = 0

                }
            },
            async handleProceedButtonClicked(){
                this.isProceeding = true
                let fd = new FormData();
                fd.append('payment_method', this.payment_method_selected.value);
                fd.append('rate_id', _.map(this.checkbox_non_member_fees, item => item.id));
                fd.append('accommodation_id', this.isEnabled ? this.select_accommodation : 0);
                fd.append('total', this.hasAdditional ? this.totalView : this.total);
                fd.append('signed_field_names', this.signed_field_names);
                fd.append('discount_type', this.radio_discountType);
                fd.append('additional_fee_id', _.map(this.checkbox_additional_fees, item => item.id));
                fd.append('membership_fees_id', this.membershipFeesSelected)
                if(this.radio_discountType === 'sc'){
                    fd.append('file', this.file);
                    fd.append('discount', 'sc')
                    if(this.checkbox_isLessThanSeventyOfAge){
                        fd.append('discount_percent', '100')
                        
                    }else{
                        fd.append('discount_percent', '20')
                    }
                }else{
                    fd.append('file', '');
                    fd.append('discount_percent', this.vcpercent)
                    fd.append('discount', this.text_odDiscount)
                }
                let {data} = await axios.post('/events/'+this.event.id+'/register', fd)
                // console.log(data.redirect)
                
                if(data.redirect_page){
                    window.location.href = data.redirect_page
                }
                // if(data.status === 'success'){
                //     axios.post(data.url, data.body)
                // }
                if(data.payment_method == 'bpi'){
                    this.page = 5
                }
            },
            handleSkipButtonClicked(){
                window.location.href = '/events'
            },
            async handleUploadButtonClicked(){
                let fd = new FormData();
                fd.append('file', this.file);
                let {data} = await axios.post('/events/'+this.event.id+'/upload-receipt',fd);
                if(data.status == 'success'){
                    window.location.href="/events/"+this.event.id
                }
            },
            handleAddDiscountBtnClick(){
                
                this.buttonClicked = true
                this.isCodeExists = null
                if(this.radio_discountType === 'sc'){

                    // if(this.text_scDiscount === ''){
                    if(this.file === ''){
                        this.discountIsValidated = false
                        this.scTextIsNull= false
                    }else if(this.file === undefined){
                        this.discountIsValidated = false
                        this.scTextIsNull= false
                    }else{
                        this.discountIsValidated = true
                    }
                }else{
                    if(this.text_odDiscount === ''){
                        this.discountIsValidated = false
                    }else{
                        this.discountIsValidated = true
                    }                

                }


                if(this.radio_discountType === 'sc'){
                    if(this.file !== ''){
                        if(this.checkbox_isLessThanSeventyOfAge){
                            this.discount = (this.total * 1).toFixed(2);
                        }else{
                            this.discount = (this.total * 0.2).toFixed(2);
                        }
                        this.total = Number(this.total) - Number(this.discount)
                        this.scTextIsNull = false
                    }else{
                        this.scTextIsNull = true
                    }

                }else{
                    this.checkIfVoucherExists()


                }
            },
            checkIfVoucherExists(){
                this.discountIsValidated = false
                let fd = new FormData();
                fd.append('pspevent_id', this.event.id);
                fd.append('voucher_code', this.text_odDiscount);
                axios.post('/checkVoucherCode',fd)
                .then(({data})=>{
                    if(data.isCodeExists === 'true'){
                        this.discountIsValidated = true
                        this.vcpercent = data.discount
                        this.discount = (this.total * data.discount/100).toFixed(2)
                        this.total = Number(this.total) - Number(this.discount)
                    }else{
                        this.isCodeExists = false
                        this.discountIsValidated = false
                    }
                });
            },
            handleCancelDiscountBtnClick(){
                this.selected_addtnl_fee = []
                this.checkbox_additional_fees
                this.clearDiscountInputs()
            },
            clearDiscountInputs(){
                this.checkbox_addDiscount = false
                this.radio_discountType = null
                this.text_scDiscount = ''
                this.text_odDiscount = ''
                this.buttonClicked = false
                this.scTextIsNull = false
                this.file = '',
                this.checkbox_isLessThanSeventyOfAge = false
                this.vcpercent = ''

            },
            handlePaymentMethodBtnClicked(){
                this.page =1
                this.clearDiscountInputs() 
            },
            handleOpenAddFeeModal(){
                // this.returnDefaultTotal()
                this.selected_addtnl_fee = null
                this.select_addtnl_fee = null
                this.showModal = true
            },
            handleSelectAdditionalFeeSave(){    
                
                let totalAdditional= _.sumBy(this.selected_addtnl_fee, item => Number(item.amount))
                this.total = Number(this.total) + Number(totalAdditional)
                this.showModal = false
            },
            handleCancelAdditionalFee(){
                this.checkbox_additional_fees = []
                this.showModal= false

            },
            returnDefaultTotal(){
                this.total = this.totalView
            }
        },
        computed:{
            renderSelectedDiscount(){
                if(this.radio_discountType == 'sc'){
                    if(this.checkbox_isLessThanSeventyOfAge){
                        return 'Senior Citizen (100%)'
                    }
                    return 'Senior Citizen/PWD Discount (20%)'
                }else{
                    return 'Discount Code ('+this.vcpercent+'%)'

                }
            },
            membershipFees(){
                return this.props_membershipfees
            }
        }
    }
</script>


<style>
    #selected{
        border: solid 3px green;
    }
</style>