<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3>My Profile</h3>
                        <p @click="handleEditButtonClicked" v-if="!editMode" style="cursor: pointer;">Edit</p>
                    </div>

                    <div class="card-body">
                        <table class="table table-hover" v-if="!editMode">
                            <tbody>
                                <tr>
                                    <td class="w-25">Name</td>
                                    <td class="w-75">{{user.first_name}} {{user.last_name}}</td>
                                </tr>
                                <tr>
                                    <td class="w-25">Contact</td>
                                    <td class="w-75">{{user.contact}}</td>
                                </tr>
                                <tr>
                                    <td class="w-25">Email Address</td>
                                    <td class="w-75">{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td class="w-25">Affilation</td>
                                    <td class="w-75">{{user.affiliation}}</td>
                                </tr>                                
                                <tr>
                                    <td class="w-25">Classification</td>
                                    <td class="w-75">{{user.classification}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <form @submit.prevent="handleUpdateButtonClicked" v-else>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td class="w-25">Name</td>
                                        <td class="w-75">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" class="form-control" v-model="user.first_name">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" v-model="user.last_name">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-25">Contact</td>
                                        <td class="w-75">
                                            <input type="text" class="form-control" v-model="user.contact">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-25">Affilation</td>
                                        <td class="w-75">
                                            <input type="text" class="form-control" v-model="user.affiliation">
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td colspan="2">
                                            <button 
                                                :disabled="isUpdating"
                                                type="submit" 
                                                class="btn btn-success"
                                            >Update</button>
                                            <button 

                                                type="button" 
                                                class="btn btn-danger"
                                                @click="editMode = !editMode"
                                            >Cancel</button>
                                            <div v-if="isUpdating">
                                                <loader></loader>
                                            </div>
                                        </td>
                                    </tr>                                
                                </tbody>
                            </table>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.user = this.props_user
            this.$store.commit('addToClassification', 'Non-Member')
        },
        props: ['props_user'],
        data(){
            return{
                user : [],
                editMode: false,
                isUpdating: false
            }
        },
        methods:{
            handleEditButtonClicked(){
                this.editMode = true
            },
            async handleUpdateButtonClicked(){
                this.isUpdating = true
                let fd = new FormData();
                fd.append('first_name', this.user.first_name);
                fd.append('last_name', this.user.last_name);
                fd.append('contact', this.user.contact);
                fd.append('affiliation', this.user.affiliation);
                let {data} = await axios.post('/profile', fd)
                if(data.status == 'ok'){
                    this.editMode = !this.editMode 
                    this.isUpdating = false
                }                
            }            
        }
    }
</script>
