<template lang="">
    <slotted-card
        :propsClassCardType="'border-primary rounded-0'"
        :propsClassCardHeaderType="'bg-primary text-light rounded-0'"
    >
        <div slot="header">
            <h4>Rates</h4>
        </div>
        <div slot="body">
            <div class="text-center text-warning" v-if="event.rates == ''">
                <p>No rates available.</p>
            </div>
            <ul v-for="rate in event.rates" :key="rate.id" v-else>
                <li v-if="rate.category != 'Non-Member'">
                    <div class="row" v-if="rate.category != 'Junior'">
                        <div class="col">
                            {{ rate.category | rate_category_render }}
                        </div>
                        <div class="col" v-if="rate.currency === 'usd'">
                            USD {{ rate.amount }}
                        </div>
                        <div class="col" v-else>PHP {{ rate.amount }}</div>
                    </div>
                    <div class="row" v-else>
                        <div class="col">
                            {{ rate.category + " Member (Residency Graduate)" }}
                        </div>
                        <div class="col" v-if="rate.currency === 'usd'">
                            USD {{ rate.amount }}
                        </div>
                        <div class="col" v-else>PHP {{ rate.amount }}</div>
                    </div>
                </li>

                <li v-else>
                    <div class="row">
                        <div class="col">
                            {{
                                rate.category +
                                    " " +
                                    (rate.currency == "usd"
                                        ? " (International)"
                                        : " (Local)")
                            }}
                        </div>
                        <div class="col" v-if="rate.currency === 'usd'">
                            USD {{ rate.amount }}
                        </div>
                        <div class="col" v-else>PHP {{ rate.amount }}</div>
                    </div>
                </li>
            </ul>
            <hr />
        </div>
    </slotted-card>
</template>
<script>
export default {
    props: ["event"]
};
</script>
<style lang=""></style>
