<template>
    <div class="container">
        <default-showevent-component 
            v-if="props_user.classification != 'Non-Member'"
            :props_event="props_event"
            :props_is_done="props_is_done"
            :props_pre_reg_status="props_pre_reg_status"
            :props_user="props_user"
            :props_additional_fees_details="props_additional_fees_details"
            :upload="upload"
        ></default-showevent-component>
        <non-member-showevent-component 
            v-else
            :props_event="props_event"
            :props_is_done="props_is_done"
            :props_pre_reg_status="props_pre_reg_status"
            :props_user="props_user"
            :props_additional_fees_details="props_additional_fees_details"
            :upload="upload"
        ></non-member-showevent-component>  
    </div>
</template>

<script>
    export default {

        props:['props_event', 'props_is_done', 'props_pre_reg_status', 'props_user', 'props_additional_fees_details', 'props_upload'],
        mounted() {
            // alert(this.props_upload)
        },
        computed: {
            upload(){
                return this.props_upload
            }
        },
    }
</script>
