<template>
        
    <div class="container">
        <div class="row d-flex justify-content-center" v-if="!isClose">
            <div class="col-8">
                <div class="row">
                    <div class="col p-1">
                        <div class="card card-primary bg-primary text-light">
                          <div class="card-body text-center">
                            <p class="display-4 m-0">{{days}}</p>
                          </div>
                        </div>
                    </div>
                    <div class="col p-1">
                        <div class="card card-primary bg-primary text-light">
                          <div class="card-body text-center">
                            <p class="display-4 m-0">{{hours}}</p>
                          </div>
                        </div>
                    </div>
                    <div class="col p-1">
                        <div class="card card-primary bg-primary text-light">
                          <div class="card-body text-center">
                            <p class="display-4 m-0">{{minutes}}</p>
                          </div>
                        </div>
                    </div>
                    <div class="col p-1">
                        <div class="card card-primary bg-primary text-light">
                          <div class="card-body text-center">
                            <p class="display-4 m-0">{{seconds}}</p>
                          </div>
                        </div>
                    </div>                                                          
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center" v-if="!isClose">
            Time remaining before closing.
        </div>

        <bs4-modal :props_modalshow="isClose">
            <div slot="header">
                <h3>Heads up!</h3>
            </div>
            <div slot="body">
                <p class="lead">
                    Registration is officially closed.
                </p>
            </div>

            <div slot="footer">
                <button class="btn btn-success" @click.prevent="handleDoneButtonClosedClicked">OK</button>
            </div>
        </bs4-modal>

        <bs4-modal :props_modalshow="isRegistrantExists">
            <div slot="header">
                <h3>Error!</h3>
            </div>
            <div slot="body">
                <p class="lead text-danger">
                    {{isRegistrantExistsMessage}}
                </p>
            </div>

            <div slot="footer">
                <button class="btn btn-success" @click.prevent="isRegistrantExists = false">OK</button>
            </div>
        </bs4-modal>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h3>{{props_settings.title}}</h3>
                        <p class="lead">{{props_settings.subtitle}}</p>
                        <hr>
                        <a class="btn btn-info" href="/MolPath-online-course-residents"><i class="fas fa-external-link-alt"></i> Redirect to Resident registration form</a>
                    </div>

                    <div class="card-body">
                    <bs4-modal :props_modalshow="showSucessModal">
                        <div slot="header">
                            <h3>Success</h3>
                        </div>
                        <div slot="body">
                            <p class="text-primary lead">
                                Your registration was accepted. Slots are limited. Please wait for a confirmation if you are shortlisted. Thank you.
                            </p>
                        </div>
                        <div slot="footer">
                            <button class="btn btn-success" @click.prevent="handleDoneButtonClicked">Done</button>
                        </div>
                    </bs4-modal>
                        <form @submit.prevent="handleSubmitButtonClicked">
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Name:</label>
                                    <div class="col-lg-3">
                                        <input type="text" required class="text-capitalize form-control" placeholder="Family Name" v-model="text_lname" />
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" required class="text-capitalize form-control" placeholder="First Name" v-model="text_fname" />
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" required class="text-capitalize form-control" placeholder="Middle Name" v-model='text_mname' />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Email Address:</label>
                                    <div class="col-lg-9">
                                        <input type="email" required class="form-control" placeholder="Email address here (valid email only)" v-model="text_email" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Contact Number:</label>
                                    <div class="col-lg-9">
                                        <input type="text" required class="form-control" placeholder="Contact number here" v-model="text_contact" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Date of Birth:</label>
                                    <div class="col-lg-9">
                                        <input type="date" required class='form-control' v-model="date_dob" />
                                    </div>
                                </div>         

                                <hr/>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Specialty:</label>
                                    <div class="col-lg-3">
                                      <div class="form-group">
                                        <div class="custom-control custom-radio" v-for="specialty in $store.getters.specialties" :key="specialty.key">
                                          <input required v-model="radio_specialty" :value="specialty.key" type="radio" :id="specialty.key" class="custom-control-input">
                                          <label class="custom-control-label" :for="specialty.key">{{specialty.value}}</label>
                                        </div>
                                      </div>
                                    </div>
                                    <label class="col-lg-3 col-form-label">Membership classification:</label>
                                    <div class="col-lg-3">
                                      <div class="form-group">
                                        <div class="custom-control custom-radio" v-for="classification in $store.getters.mClassifications" :key="classification.key">
                                          <input required v-model="radio_classification" :value="classification.key" type="radio" :id="classification.key" class="custom-control-input">
                                          <label class="custom-control-label" :for="classification.key">{{classification.value}}</label>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Affiliations:</label>
                                    <div class="col-lg-9">
                                        <input type="text" required class="form-control" placeholder="Affiliations here" v-model="text_affiliation" />
                                    </div>
                                </div>    

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Area of practice:</label>
                                    <div class="col-lg-7">
                                        <input type="text" :required="areasOfPractice == ''" @keyup.enter.prevent="addAreaOfPractice" class='form-control' placeholder="Area of practice" v-model="text_aop" />
                                        <p class="text-info">To add your area of practice, type your area of practice in the input above and then press enter or click the Add button.</p>
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn btn-block btn-success " @click.prevent="addAreaOfPractice">Add</button>
                                    </div>
                                </div>
                                <div class="form-group row" v-if="areasOfPractice != ''">

                                    <label class="col-lg-3 col-form-label"></label>
                                    <div class="col-lg-7">
                                        <ul class="list-group">
                                          <li class="list-group-item d-flex justify-content-between align-items-center"  v-for="(area,index) in areasOfPractice" :key="index">
                                            {{area}}
                                            <span style="cursor:pointer;" class="badge badge-danger badge-pill" @click="deleteArea(area)">X</span>
                                          </li>
                                        </ul>
                                    </div>
                                </div>     

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Chapter Membership:</label>
                                    <div class="col-lg-9">
                                      <div class="form-group">
                                        <select class="custom-select" required v-model="select_chapterMembership">
                                          <option v-for="membership in $store.getters.cMembership" :key="membership.key" :value="membership.key">{{membership.value}}</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>                    

                                <hr/>    

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Purpose of enrolling to the course:</label>
                                    <div class="col-lg-9">
                                      <textarea required placeholder="Purpose here" v-model="textarea_purpose" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>     



                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Have you tried taking any online course?</label>
                                    <div class="col-lg-9">
                                      <div class="form-group">
                                        <div class="custom-control custom-radio" v-for="choice in $store.getters.triedTakingOnlineCourseChoices" :key="choice.key">
                                          <input required v-model="radio_triedOnlineCourse" :value="choice.key" type="radio" :id="choice.key" class="custom-control-input">
                                          <label class="custom-control-label" :for="choice.key">{{choice.value}}</label>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Level of Computer Literacy:</label>
                                    <div class="col-lg-9">
                                      <div class="form-group">
                                        <div class="custom-control custom-checkbox" v-for="level in $store.getters.levelsOfComputerLiteracy" :key="level.key">
                                          <input :required="checkbox_levelOfComputerLiteracy == ''" v-model="checkbox_levelOfComputerLiteracy" :value="level.key" type="checkbox" class="custom-control-input" :id="level.key">
                                          <label class="custom-control-label" :for="level.key">{{level.value}}</label>
                                        </div>
                                      </div>              
                                    </div>
                                </div>

                                <hr/>   

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label"></label>
                                    <div class="col-lg-9">
                                      <p class="lead"><span class="text-primary">Data Privacy Disclaimer:</span> <span class="text-info">Data collected will be used exclusively for registration to PSP Online Course on Molecular Pathology. PSP will not share your data to any person or organization without your consent.</span></p>          
                                    </div>
                                </div> 
                                <hr/>                 

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label"></label>
                                    <div class="col-lg-9">
                                      <button :disabled="isSubmitting" class="btn btn-success btn-lg">Submit</button>
                                    </div>
                                </div>

                            </fieldset> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // this.settings = this.props_settings
            this.countDownEndTime =  new Date(this.props_settings.c19_end_period).getTime();
            this.countDownStart()
            let x = setInterval(()=>{
                this.countDownStart()
                if(this.distance < 0){
                    clearInterval(x)
                    this.isClose = true

                }
            }, 1000)
        },
        props:['props_settings'],
        data(){
            return{
                text_fname: '',
                text_lname: '',
                text_mname: '',
                text_email: '',
                text_contact: '',
                date_dob: '',
                radio_specialty: 'ac',
                radio_classification: 'F',
                text_affiliation: '',
                text_aop: '',
                select_chapterMembership: 'clc',
                textarea_purpose: '',
                radio_triedOnlineCourse: 'Y',
                checkbox_levelOfComputerLiteracy: [],
                areasOfPractice: [],
                showSucessModal: false,
                countDownStartTime: '',
                countDownEndTime: '',
                counDownDistance: '',
                days: '',
                hours: '',
                minutes: '',
                seconds: '',
                isClose: false,
                distance: '',
                isRegistrantExists: false,
                isRegistrantExistsMessage: '',
                isSubmitting: false


                // settings: []
            }
        },
        methods:{
            addAreaOfPractice(){
                if(this.text_aop != ''){
                    this.areasOfPractice.push(this.text_aop)
                    this.text_aop = ''
                }
            },
            deleteArea(area){
                this.areasOfPractice.splice(this.areasOfPractice.indexOf(area), 1);
            },
            async handleSubmitButtonClicked(){
                this.isSubmitting = true
                let fd = new FormData();
                fd.append('fname', this.text_fname);
                fd.append('lname', this.text_lname);
                fd.append('mname', this.text_mname);
                fd.append('email', this.text_email);
                fd.append('contact', this.text_contact);
                fd.append('dob', this.date_dob);
                fd.append('specialty', this.radio_specialty);
                fd.append('classification', this.radio_classification);
                fd.append('affiliation', this.text_affiliation);
                fd.append('aop', this.areasOfPractice);
                fd.append('cMembership', this.select_chapterMembership);
                fd.append('purpose', this.textarea_purpose);
                fd.append('triedOnlineCourse', this.radio_triedOnlineCourse);
                fd.append('levelsOfComputerLiteracy', this.checkbox_levelOfComputerLiteracy);

                let {data} = await axios.post('/MolPath-online-course', fd);
                console.log(data)
                if(data.status === 'success'){
                    this.showSucessModal = true
                    this.isSubmitting = false
                }else if(data.status === 'failed'){
                    this.isRegistrantExists = true
                    this.isRegistrantExistsMessage = data.message
                    this.isSubmitting = false
                }

            },
            handleDoneButtonClicked(){
                window.location.href = '/MolPath-online-course'

            },
            countDownStart(){
                // let countDownEndTime = new Date("Jan 5, 2021 15:37:25").getTime();
                // let now = new Date().getTime();
                // let distance  = countDownEndTime - now;
                let now = new Date().getTime();
                this.distance = this.countDownEndTime - now;

                // Time calculations for days, hours, minutes and seconds
                this.days = Math.floor(this.distance / (1000 * 60 * 60 * 24)) + 'd';
                this.hours = Math.floor((this.distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + 'h';
                this.minutes = Math.floor((this.distance % (1000 * 60 * 60)) / (1000 * 60)) + 'm';
                this.seconds = Math.floor((this.distance % (1000 * 60)) / 1000) + 's';
                // setInterval(function(){
                //     // alert('test')
                // }, 1000)

                // Output the result in an element with id="demo"
                // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                // + minutes + "m " + seconds + "s ";                
            },
            // async fetchSettings(){
            //     let {data} = await axios.get('/settings');
            //     this.countDownEndTime = new Date(data.settings.c19_end_period).getTime();

            // },
            handleDoneButtonClosedClicked(){
                window.location.href= '/login'
            }
        }
    }
</script>
