<template>
<div class="container pt-5">
    <div class="row">
        <div class="col-lg-8 col-sm-12 mb-2">
            <!-- 

                <div>
                    <p>
                        <i class="fas fa-bullhorn text-info"></i> 
                        <span >COVD-19 PCR Online Course Registration is now open. Register <a href="/covd19-pcr-online-course"> here.</a></span>
                    </p>
                </div>
             -->

            <div class="card border-primary">
                <div class="card-body">
                    <h3>The Events</h3>
                    <hr>
                    <div class="row">
                        <div class="col-12" v-for="event in events" :key="event.id">
                            <div class="card">
                                <div class="card-body p-1">
                                    <div class="row">
                                        <div class="col-5">
                                            <img :src="event.uploaded_description_file ? event.uploaded_description_file : 'images/logo.jpg'" class="img-fluid" alt="">
                                        </div>
                                        <div class="col-7">
                                        
                                            <h4>{{event.title}}</h4>
                                            <hr class="m-1">
                                            <p class="card-text text-secondary" v-html="parseDate(event.start_dt,event.end_dt)"></p>
                                            <p class="text-danger" v-if="isRegistrationClose">Registration is closed.</p>
                                            <!-- 
                                            <timer :endtime="event.end_registration" @handleTimerEnd="handleTimerEnd" v-else></timer>      
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header"><h3><i class="fas fa-key"></i> Login</h3></div>

                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" v-if="has_errors">
                                <strong>Error!</strong> Username / Password not found!
                            </div>
                            <form @submit.prevent="handleLoginFormSubmit">

                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>

                                    <div class="col-md-8">
                                        <input id="username" type="text" class="form-control" v-model="text_username" placeholder="Enter username" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                    <div class="col-md-8">
                                        <input id="password" type="password" class="form-control" v-model="text_password" required placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right"></label>
                                    <div class="col-md-8">
                                        <a href="password-remind">Forgot password?</a>
                                    </div>
                                </div>                                
                                <div class="form-group row" v-if="isLogingin">
                                    <label for="loader" class="col-md-4 col-form-label text-md-right"></label>

                                    <div class="col-md-8">
                                        <p class="text-muted"><i class="fa fa-spinner fa-spin"></i> Please wait...</p>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button :disabled="isLogingin" class="btn btn-primary">
                                            Login
                                        </button>
                                        <a href="/sign-up" class="btn btn-secondary">
                                            Sign-up
                                        </a>                                        
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        mounted() {
            this.events = this.props_events
            
        },
        props:['props_events'],
        data(){
            return{
                events: [],
                text_username:'',
                text_password:'',
                has_errors: false,
                isLogingin: false,
                isRegistrationClose:false
            }
        },
        methods:{
            handleTimerEnd(){
                this.isRegistrationClose = true
            },
            handleLoginFormSubmit(){
                this.has_errors = false
                this.isLogingin = !this.isLogingin
                let fd = new FormData();
                fd.append('username', this.text_username);
                fd.append('password', this.text_password);
                axios
                    .post('/login',fd)
                    .then(({data})=>{
                        if(data.role){
                            if(data.role === 1 && data.role === 3){
                                window.location.href = '/home'
                            }else{
                                window.location.href = '/dashboard'

                            }
                        }else{
                            this.isLogingin = !this.isLogingin
                            this.has_errors = !this.has_errors
                        }
                    })
            },
            parseDate(start_dt, end_dt){
                let s_dt = new Date(Date.parse(start_dt));
                let e_dt = new Date(Date.parse(end_dt));
                return '<i class="far fa-calendar-alt"></i> '+s_dt.toDateString()+" to "+e_dt.toDateString();
            }       
        }
    }
</script>
