<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-success" role="alert" v-if="isSuccess && isSending">
                    <strong>Well done!</strong> Instructions has been sent to the Email. 
                </div>
                <div class="alert alert-danger" role="alert" v-if="isFailed">
                    <strong>Heads Up!</strong> Email not found. 
                </div>
                <div class="card">
                    <div class="card-header">Forgot password</div>

                    <div class="card-body">
                        <form @submit.prevent="handleSentClicked">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                                <div class="col-sm-10">
                                    <input 
                                        type="email" 
                                        class="form-control" 
                                        placeholder="Enter Email"
                                        v-model="text_email" 
                                        required=""   
                                    >
                                </div>
                            </div>
                            <div class="form-group row" v-if="isSending">
                                <label class="col-sm-2 form-control-label"></label>
                                <div class="col-sm-10">
                                    <loader></loader>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" :disabled="isSending">Send</button>
                                    <a href="/login" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                text_email: '',
                isSending: null,
                isSuccess: null,
                isFailed: null
            }
        },
        mounted() {
        },
        methods:{
            async handleSentClicked(){
                this.isSending = true
                let fd = new FormData();
                fd.append('email', this.text_email);
                let {data} = await axios.post('/password-remind', fd);
                if(data.status === 'success'){
                    this.isSending = false
                    this.isSuccess = true
                    setTimeout(()=>{
                        window.location.href="/login"
                    },2000)
                }else{
                    this.isSending = false
                    this.isFailed = true

                }
            }
        }
    }
</script>
