<template>
<div class="container" id="capture">
    <bs4-modal :props_modalshow="isClose">
        <div slot="header">
            <h3>Registration Screenshot</h3>
        </div>
        <div slot="body">
            
            <img class="img-fluid" :src="imageSrc" alt="">
        </div>

        <div slot="footer">
            <button class="btn btn-success" @click.prevent="handleSaveButtonClicked">Save</button>
        </div>
    </bs4-modal>   
    <bs4-modal :props_modalshow="showExistModal" :props_modalsize="'modal-lg'">
        <div slot="header">
            <h4 class="text-danger">Account already exists.</h4>
        </div>
        <div slot="body">
            
            <p class="lead">
                You are already registered to PSP Events. <a href="/login">Go to login instead.</a>
            </p>
        </div>

    </bs4-modal> 
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header"> 
                    <h3> 
                        <i class="fa fa-user-plus"></i>
                        Sign-up
                    </h3>
                </div>

                <div class="card-body">
                    <form @submit.prevent="handleRegisterFormSubmit">
                        <div class="row">
                            <div class="col text-justify">
                                <p class="lead">Welcome to the PSP Events and Online Payment facility. Please register to use this facility. Your username and password will be exclusively for logging-in in this page. It cannot be used for other PSP-related log-in.</p>
                                <hr>
                                <p class="lead">How to register:</p>
                                <ol>
                                    <li>Fill in this form. Remember the e-mail, username and password you nominated in the registration.</li>
                                    <li>Click <button class="btn btn-success">Sign-up</button>.</li>
                                    <li>Select the appropriate rate.</li>
                                    <p class="text-info">Note: If you are qualified for a discounted rate, check add discount.</p>
                                    <li>Proceed to payment.</li>
                                    <li>Your payment will be verified.</li>
                                    <li>Once verified, you will be notified thru your nominated email. </li>
                                    <p class="text-info">
                                        Reminders:
                                        <ol>
                                            <li>Make sure you nominate a valid and accessible email address.</li>
                                            <li>Please take a picture or screenshot of your nominated username and password before you sign up.</li>
                                        </ol>
                                    </p>
                                </ol>
                                <hr>

                            </div>
                            <div class="col">
                                <div class="alert alert-success" role="alert" v-if="isSuccess">
                                    <strong>Well done!</strong> The page will redirect to your dashboard. Thank you!
                                </div>
                                    <div class="form-group row">
                                <div class="card shadow border-success">
                                    <div class="card-body">
                                        <h4 class="card-title">E-Mail Address:</h4>
                                        <div class="form-group row mb-0">
                                            <div class="col-md-12">
                                                <input type="email" class="form-control form-control-lg" placeholder="Enter valid and accessible email address" v-model="text_email" required>
                                                <small class="text-danger" v-if="errors[0] == 'email'">
                                                    Email already exists. Login to your account. Click <a href="/login">here</a> to login.
                                                </small>
                                                <div class="container pt-3">
                                                    <div class="form-group mb-0 pb-0">
                                                        <div class="custom-control custom-checkbox">
                                                            <input 
                                                                type="checkbox" 
                                                                class="custom-control-input" 
                                                                id="customCheck1"
                                                                v-model="checkbox_disc1"
                                                            />
                                                            <label class="custom-control-label mb-0 pb-0" for="customCheck1">I certify that this is my valid email address and I have access to it.</label>
                                                        </div>
                                                    </div>   
                                                    <div class="form-group mb-0 pb-0">
                                                        <div class="custom-control custom-checkbox">
                                                            <input 
                                                                type="checkbox" 
                                                                class="custom-control-input" 
                                                                id="customCheck2"
                                                                v-model="checkbox_disc2"
                                                            />
                                                            <label class="custom-control-label mb-0 pb-0" for="customCheck2">I understand that the convention links will be sent to this email address only.</label>
                                                        </div>
                                                    </div>
                                                    <!--    
                                                    <div class="form-group mb-0 pb-0">
                                                        <div class="custom-control custom-checkbox">
                                                            <input 
                                                                type="checkbox" 
                                                                class="custom-control-input" 
                                                                id="customCheck3"
                                                                v-model="checkbox_disc3"
                                                            />
                                                            <label class="custom-control-label mb-0 pb-0" for="customCheck3">I am aware that the convention ID and kit will not be released without the verification code.</label> 
                                                        </div>
                                                    </div> 
                                                    -->                                       
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>                                        
                                    </div>
                                <!-- <form @submit.prevent="handleRegisterFormSubmit"> -->
                                    <div class="form-group row mb-1">
                                        <label for="name" class="col-md-4 col-form-label ">Name</label>

                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Enter Firstname" v-model="text_firstname" required>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Enter Lastname" v-model="text_lastname" required>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-1">
                                        <label for="contact" class="col-md-4 col-form-label ">Contact Number</label>

                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Enter Contact Number" v-model="text_contact" required>
                                        </div>
                                    </div>                        

                                     <!--<div class="form-group row">
                                        <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                        <div class="col-md-8">
                                            <input type="email" class="form-control" placeholder="Enter Email Address" v-model="text_email" required>
                                            <small class="text-danger" v-if="errors[0] == 'email'">
                                                Email already exists.
                                            </small>
                                        </div>
                                    </div> --> 

                                    <div class="form-group row mb-1">
                                        <label for="affiliation" class="col-md-4 col-form-label ">Affiliation</label>

                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Enter Affilation" v-model="text_affiliation" required>
                                        </div>
                                    </div>  

                                    <div class="form-group row mb-1">
                                        <label for="username" class="col-md-4 col-form-label ">Username</label>

                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Enter Username" v-model="text_username" required>
                                            <small class="text-danger" v-if="errors == 'username'">
                                                Username already exists.
                                            </small>
                                        </div>
                                    </div>   

                                    <div class="form-group row mb-1">
                                        <label for="username" class="col-md-4 col-form-label ">Password</label>

                                        <div class="col-md-8">
                                              <div class="form-group mb-0">
                                                <div class="input-group mb-0">
                                                    <input :type="isPasswordView ? 'text' : 'password'" class="form-control" placeholder="Enter Password" v-model="text_password" required>
                                                  <div class="input-group-append">
                                                    <span class="input-group-text" @click="handleViewPassword"><i :class="isPasswordView ? 'fa fa-eye' : 'fas fa-eye-slash' "></i></span>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>  
                                    <div class="form-group row mb-1">
                                        <label for="username" class="col-md-4 col-form-label ">Confirm Password</label>

                                        <div class="col-md-8">
                                              <div class="form-group mb-0">
                                                <div class="input-group mb-0">
                                                    <input :type="isConfirmPasswordView  ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" v-model="text_cpassword" required>
                                                  <div class="input-group-append">
                                                    <span class="input-group-text" @click="handleViewConfirmPassword"><i :class="isConfirmPasswordView ? 'fa fa-eye' : 'fas fa-eye-slash' "></i></span>
                                                  </div>
                                                </div>
                                              </div>                                            
                                            <small class="text-danger" v-if="isPasswordnotMatched">
                                                Those password didn't match. Try again.
                                            </small>
                                        </div>
                                    </div>                                                                 

                                    <div class="form-group row mb-1">
                                        <label for="isPspMember" class="col-md-4 col-form-label ">PSP Member</label>

                                        <div class="col-md-8">
                                            <div class="custom-control custom-radio">
                                              <input type="radio" 
                                                id="customRadio1" 
                                                name="customRadio" 
                                                class="custom-control-input"
                                                v-model="radio_isMember"
                                                value="1"
                                                required="" 
                                              >
                                              <label class="custom-control-label" for="customRadio1">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                              <input type="radio" 
                                                id="customRadio2" 
                                                name="customRadio" 
                                                class="custom-control-input"
                                                v-model="radio_isMember"
                                                value="0"
                                                required="" 
                                              >
                                              <label class="custom-control-label" for="customRadio2">No</label>
                                            </div>
                                        </div>
                                    </div>       
                                    <div class="form-group row mb-1" v-if="radio_isMember === '1'">
                                        <label for="classification" class="col-md-4 col-form-label ">Classification</label>

                                        <div class="col-md-8">
                                            <select class="custom-select" v-model='select_classification'>
                                              <option 
                                                v-for="(classification,index) in classifications" 
                                                :key="index"
                                                :value="classification.value"
                                                >{{classification.value}}
                                            </option>
                                            </select>
                                        </div>
                                    </div>                                                            
                                    <p></p>
                                    <hr class="p-0 m-0">
                                    <div class="form-group row mb-1" >
                                        <label for="disclaimer" class="col-md-4 col-form-label "></label>

                                        <div class="col-md-12">
                                            <p class="text-primary text-justify">
                                                <i>
                                                    By providing your Data during to PSP Events, you are fully aware of and voluntarily gave your consent that the same shall only be used for registration purposes and that the PSP is allowed to store the same to update your membership status in the Society. PSP will not share your data to any person or organization for any other purpose without your consent.
                                                </i>
                                            </p>
                                        </div>
                                    </div>        
                                    <div class="form-group row mb-0">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" v-model="agreed" id="agreed" >
                                              <label class="custom-control-label" for="agreed">I Agree</label>
                                            </div>  
                                        </div>
                                    </div>                                                                                                                                                     


                                    <div class="form-group row mb-1">
                                        <div class="col-md-12">
                                            <p  v-if="isSending">&nbsp <loader></loader></p>
                                            <button :disabled="isAllCheckboxCheck()"  class="btn btn-success">
                                                Sign-up
                                            </button>
                                            <a href="/login" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import html2canvas from 'html2canvas';
    export default {
        mounted() {
            this.classifications = this.$store.getters.classifications
        },
        data(){
            return{
                usersExist: [],
                showExistModal: false,
                classifications: [],
                text_firstname: '',
                text_lastname: '',
                text_contact: '',
                text_email: '',
                text_affiliation: '',
                text_username: '',
                text_password: '',
                text_cpassword: '',                
                isPasswordnotMatched: false,
                isSuccess: false,
                agreed: false,
                radio_isMember: null,
                select_classification: 'Resident',
                errors: [],
                isSending: null,
                checkbox_disc1: false,
                checkbox_disc2: false,
                isPasswordView: false,
                isConfirmPasswordView: false,
                isClose: false,
                imageSrc: ''
            }
        },
        watch:{
            text_password(e){
                this.text_cpassword = ''
            },
            text_cpassword(e){
                this.isPasswordnotMatched = false
                if(this.text_password != e){
                    this.isPasswordnotMatched = true
                }
            },
            agreed(e){
                // alert(e)
                // alert(this.isAllCheckboxCheck())
                this.isAllCheckboxCheck()
            },
            checkbox_disc1(e){
                 // alert(this.isAllCheckboxCheck())
                 this.isAllCheckboxCheck()
            },
            checkbox_disc2(e){
                 // alert(this.isAllCheckboxCheck())
                 this.isAllCheckboxCheck()
            }

        },
        methods:{
            isAllCheckboxCheck(){
                if(!this.agreed || !this.checkbox_disc1 || !this.checkbox_disc2){
                    return true

                }else{

                    return false;
                }                
            },
            handleRegisterFormSubmit(){
                this.isSending = true
                this.errors = []
                let fd = new FormData();
                fd.append('first_name', this.text_firstname);
                fd.append('last_name', this.text_lastname);
                fd.append('contact', this.text_contact);
                fd.append('affiliation', this.text_affiliation);
                fd.append('email', this.text_email);
                fd.append('username', this.text_username);
                fd.append('password', this.text_password);
                if(this.radio_isMember === '1'){
                    fd.append('classification', this.select_classification);

                }else{

                    fd.append('classification', 'Non-Member');
                }
                axios
                    .post('sign-up', fd)
                    .then(({data})=>{   
                        if(data.status === 'ok'){
                            this.isSending = false
                            this.isSuccess = true
                            
                            this.handleCapture()
                            // setTimeout(()=>{window.location.href = '/events/1/register'},1000)
                        }else{
                            this.showExistModal = true
                            this.usersExist = data.users
                            this.errors.push(data.key)
                            this.isSending = false
                        }
                    })
            },
            handleSignUpBtnDisabled(){
                // !agreed || isSending
                this.isAllCheckboxCheck()


            },
            handleViewPassword(){
                this.isPasswordView = !this.isPasswordView
            },
            handleViewConfirmPassword(){
                this.isConfirmPasswordView = !this.isConfirmPasswordView
            },
            handleCapture(){
                this.isClose = true
                this.isPasswordView = true
                this.isConfirmPasswordView = true
                html2canvas(document.querySelector("#capture"), {scrollY: -window.scrollY}).then(canvas => {
                    this.imageSrc = canvas.toDataURL()
                    // return Canvas2Image.saveAsPNG(canvas);
                });               
            },
            handleSaveButtonClicked(){
                html2canvas(document.querySelector("#capture"), {scrollY: -window.scrollY}).then(canvas => {
                    // this.imageSrc = canvas.toDataURL()
                    return Canvas2Image.saveAsPNG(canvas);
                }); 
                this.imageSrc = ''
                this.isClose = false
                this.isPasswordView = false
                this.isConfirmPasswordView = false
            }
        }
    }
</script>
