<template>
        
    <div class="container">
        <div v-if="isTraining == false">
            <div class="card">
                <div class="card-body">
                    <p class="lead"><strong>If you are a diplomate or fellow, <a href="/MolPath-online-course"> please go to the registration page for diplomates and fellows.</a></strong></p>        
                </div>
                
            </div>
        </div>
        <div v-else>
            <div class="row d-flex justify-content-center" v-if="!isClose">
                <div class="col-8">
                    <div class="row">
                        <div class="col p-1">
                            <div class="card card-primary bg-primary text-light">
                            <div class="card-body text-center">
                                <p class="display-4 m-0">{{days}}</p>
                                
                            </div>
                            </div>
                        </div>
                        <div class="col p-1">
                            <div class="card card-primary bg-primary text-light">
                            <div class="card-body text-center">
                                <p class="display-4 m-0">{{hours}}</p>
                            </div>
                            </div>
                        </div>
                        <div class="col p-1">
                            <div class="card card-primary bg-primary text-light">
                            <div class="card-body text-center">
                                <p class="display-4 m-0">{{minutes}}</p>
                            </div>
                            </div>
                        </div>
                        <div class="col p-1">
                            <div class="card card-primary bg-primary text-light">
                            <div class="card-body text-center">
                                <p class="display-4 m-0">{{seconds}}</p>
                            </div>
                            </div>
                        </div>                                                          
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center" v-if="!isClose">
                Time remaining before closing.
            </div>

            <bs4-modal :props_modalshow="showValidation">
                <div slot="header">
                    <h3>Heads up!</h3>
                </div>
                <div slot="body">
                    <p class="lead">
                        Are you a resident in training?
                    </p>
                </div>

                <div slot="footer">
                    <button class="btn btn-success" @click.prevent="handleYesClicked">YES</button>
                    <button class="btn btn-danger" @click.prevent="handleNoClicked">NO</button>
                </div>
            </bs4-modal>        

            <bs4-modal :props_modalshow="isClose">
                <div slot="header">
                    <h3>Heads up!</h3>
                </div>
                <div slot="body">
                    <p class="lead">
                        Registration is officially closed.
                    </p>
                </div>

                <div slot="footer">
                    <button class="btn btn-success" @click.prevent="handleDoneButtonClosedClicked">OK</button>
                </div>
            </bs4-modal>

            <bs4-modal :props_modalshow="isRegistrantExists">
                <div slot="header">
                    <h3>Error!</h3>
                </div>
                <div slot="body">
                    <p class="lead text-danger">
                        {{isRegistrantExistsMessage}}
                    </p>
                </div>

                <div slot="footer">
                    <button class="btn btn-success" @click.prevent="isRegistrantExists = false">OK</button>
                </div>
            </bs4-modal>
            <hr/>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{props_settings.title}}</h3>
                            <p class="lead">{{props_settings.resident_subtitle}}</p>
                            <hr>
                            <p class="lead">If you are a diplomate or fellow,  please register to the appropriate registration page <a class="btn btn-success btn-sm" href="/MolPath-online-course"><i class="fas fa-external-link-alt"></i> </a></p>
                            
                            
                        </div>

                        <div class="card-body">
                        <bs4-modal :props_modalshow="showSucessModal">
                            <div slot="header">
                                <h3>Success</h3>
                            </div>
                            <div slot="body">
                                <p class="text-primary lead">
                                    Your registration was accepted. Slots are limited. Please wait for a confirmation if you are shortlisted. Thank you.
                                </p>
                            </div>
                            <div slot="footer">
                                <button class="btn btn-success" @click.prevent="handleDoneButtonClicked">Done</button>
                            </div>
                        </bs4-modal>
                            <form @submit.prevent="handleSubmitButtonClicked">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Name:</label>
                                        <div class="col-lg-3">
                                            <input type="text" required class="text-capitalize form-control" placeholder="Family Name" v-model="text_lname" />
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" required class="text-capitalize form-control" placeholder="First Name" v-model="text_fname" />
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" required class="text-capitalize form-control" placeholder="Middle Name" v-model='text_mname' />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Email Address:</label>
                                        <div class="col-lg-9">
                                            <input type="email" required class="form-control" placeholder="Email address here (valid email only)" v-model="text_email" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Contact Number:</label>
                                        <div class="col-lg-9">
                                            <input type="text" required class="form-control" placeholder="Contact number here" v-model="text_contact" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Date of Birth:</label>
                                        <div class="col-lg-9">
                                            <input type="date" required class='form-control' v-model="date_dob" />
                                        </div>
                                    </div>         

                                    <hr/>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Year Level:</label>
                                        <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio" v-for="year_level in $store.getters.yearLevels" :key="year_level.key">
                                            <input required v-model="radio_yearLevel" :value="year_level.key" type="radio" :id="year_level.key" class="custom-control-input">
                                            <label class="custom-control-label" :for="year_level.key">{{year_level.value}}</label>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Institution:</label>
                                        <div class="col-lg-9">
                                            <input type="text" required class="form-control" placeholder="Institution here" v-model="text_institution" />
                                        </div>
                                    </div>    

                                    <hr/>    

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Purpose of enrolling to the course:</label>
                                        <div class="col-lg-9">
                                        <textarea required placeholder="Purpose here" v-model="textarea_purpose" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>     



                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Have you tried taking any online course?</label>
                                        <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio" v-for="choice in $store.getters.triedTakingOnlineCourseChoices" :key="choice.key">
                                            <input required v-model="radio_triedOnlineCourse" :value="choice.key" type="radio" :id="choice.key" class="custom-control-input">
                                            <label class="custom-control-label" :for="choice.key">{{choice.value}}</label>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Level of Computer Literacy:</label>
                                        <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox" v-for="level in $store.getters.levelsOfComputerLiteracy" :key="level.key">
                                            <input :required="checkbox_levelOfComputerLiteracy == ''" v-model="checkbox_levelOfComputerLiteracy" :value="level.key" type="checkbox" class="custom-control-input" :id="level.key">
                                            <label class="custom-control-label" :for="level.key">{{level.value}}</label>
                                            </div>
                                        </div>              
                                        </div>
                                    </div>

                                    <hr/>   

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label"></label>
                                        <div class="col-lg-9">
                                        <p class="lead"><span class="text-primary">Data Privacy Disclaimer:</span> <span class="text-info">Data collected will be used exclusively for registration to PSP Online Course on Molecular Pathology. PSP will not share your data to any person or organization without your consent.</span></p>          
                                        </div>
                                    </div> 
                                    <hr/>                 

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label"></label>
                                        <div class="col-lg-9">
                                        <button :disabled="isSubmitting" class="btn btn-success btn-lg">Submit</button>
                                        </div>
                                    </div>

                                </fieldset> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // this.settings = this.props_settings
            this.countDownEndTime =  new Date(this.props_settings.c19_end_period).getTime();
            this.countDownStart()
            let x = setInterval(()=>{
                this.countDownStart()
                if(this.distance < 0){
                    clearInterval(x)
                    this.isClose = true

                }
            }, 1000)
        },
        props:['props_settings'],
        data(){
            return{
                text_fname: '',
                text_lname: '',
                text_mname: '',
                text_email: '',
                text_contact: '',
                date_dob: '',
                radio_classification: 'R',
                radio_yearLevel: '3rd',
                text_institution: '',
                text_aop: '',
                select_chapterMembership: 'clc',
                textarea_purpose: '',
                radio_triedOnlineCourse: 'Y',
                checkbox_levelOfComputerLiteracy: [],
                areasOfPractice: [],
                showSucessModal: false,
                countDownStartTime: '',
                countDownEndTime: '',
                counDownDistance: '',
                days: '',
                hours: '',
                minutes: '',
                seconds: '',
                isClose: false,
                distance: '',
                isRegistrantExists: false,
                isRegistrantExistsMessage: '',
                isSubmitting: false,
                isTraining: null,
                showValidation: false


                // settings: []
            }
        },
        methods:{
            addAreaOfPractice(){
                if(this.text_aop != ''){
                    this.areasOfPractice.push(this.text_aop)
                    this.text_aop = ''
                }
            },
            deleteArea(area){
                this.areasOfPractice.splice(this.areasOfPractice.indexOf(area), 1);
            },
            handleSubmitButtonClicked(){
                this.isSubmitting = true
                this.showValidation = true
                
                

            },
            handleDoneButtonClicked(){
                window.location.href = '/MolPath-online-course-residents'

            },
            countDownStart(){
                // let countDownEndTime = new Date("Jan 5, 2021 15:37:25").getTime();
                // let now = new Date().getTime();
                // let distance  = countDownEndTime - now;
                let now = new Date().getTime();
                this.distance = this.countDownEndTime - now;

                // Time calculations for days, hours, minutes and seconds
                this.days = Math.floor(this.distance / (1000 * 60 * 60 * 24)) + 'd';
                this.hours = Math.floor((this.distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + 'h';
                this.minutes = Math.floor((this.distance % (1000 * 60 * 60)) / (1000 * 60)) + 'm';
                this.seconds = Math.floor((this.distance % (1000 * 60)) / 1000) + 's';
                // setInterval(function(){
                //     // alert('test')
                // }, 1000)

                // Output the result in an element with id="demo"
                // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                // + minutes + "m " + seconds + "s ";                
            },
            // async fetchSettings(){
            //     let {data} = await axios.get('/settings');
            //     this.countDownEndTime = new Date(data.settings.c19_end_period).getTime();

            // },
            handleDoneButtonClosedClicked(){
                window.location.href= '/login'
            },
            async handleYesClicked(){
                let fd = new FormData();
                fd.append('fname', this.text_fname);
                fd.append('lname', this.text_lname);
                fd.append('mname', this.text_mname);
                fd.append('email', this.text_email);
                fd.append('contact', this.text_contact);
                fd.append('dob', this.date_dob);
                fd.append('classification', this.radio_classification);
                fd.append('year_level', this.radio_yearLevel);
                fd.append('institution', this.text_institution);
                fd.append('purpose', this.textarea_purpose);
                fd.append('triedOnlineCourse', this.radio_triedOnlineCourse);
                fd.append('levelsOfComputerLiteracy', this.checkbox_levelOfComputerLiteracy);

                try{
                    let {data} = await axios.post('/MolPath-online-course-residents', fd);
                    if(data.status === 'success'){
                        this.showSucessModal = true
                        this.isSubmitting = false
                        this.showValidation = false
                    }else if(data.status === 'failed'){
                        this.isRegistrantExists = true
                        this.isRegistrantExistsMessage = data.message
                        this.showValidation = false
                        this.isSubmitting = false
                    }
                }catch({response}){
                    this.isSubmitting = false
                    alert(response.statusText)
                }                
            },
            handleNoClicked(){
                this.isTraining = false
                this.isSubmitting = false
                this.showValidation = false
            }
        }
    }
</script>
