<template>
    <div class="card" :class="classCardType">
        <div class="card-header" :class="classCardHeaderType">
            <slot name="header"></slot>
        </div>
        <div class="card-body">
            <slot name="body"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.classCardType = this.propsClassCardType
            this.classCardHeaderType = this.propsClassCardHeaderType
        },
        props:['propsClassCardType', 'propsClassCardHeaderType'],
        data(){
            return{
                classCardType: '',
                classCardHeaderType: '',
            }
        }
    }
</script>
