<template>
    <div class="form-group row">
      <legend class="col-sm-4">{{text_legend}}</legend>
      <div class="col-sm-8">
        <input 
            :type="type" 
            :value="value" 
            @input="updateValue($event.target.value)" 
            class="form-control" 
            :placeholder="placeholder" 
            :step="step"
        >
      </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        props:['text_legend', 'value', 'type','placeholder', 'step'],
        methods:{
            updateValue(e){
                this.$emit('input', e)
            }
        }
    }
</script>
