<template>
  <div class="form-group row">
    <legend class="col-sm-4">{{select_legend}}</legend>
    <div class="col-sm-8">
        <select class="custom-select" @change="handleSelectChange" :value="selected">
          <option 
            v-for="(option,index) in props_options" 
            :key="index"
            :value="option.key"
            >
            {{option.value}}
        </option>
        </select>
    </div>
  </div>
</template>

<script>
    export default {
        created() {
            this.options = this.props_options
            this.selected = this.props_selected
        },
        props:['props_options', 'props_selected','select_legend'],
        data(){
            return{
                options: [],
                selected: ''
            }
        },
        methods:{
            handleSelectChange(e){
                this.$emit('selectChange', e)
            }
        }
    }
</script>
