<template>
    <div class="container">
        <bs4-modal :props_modalshow="showModal" :props_modalsize="modalSize">
            <div slot="header">
                <h3>View Registrant Details</h3>
            </div>
            <div slot="body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                      <tbody>
                        <tr>
                          <th class="w-50">Name</th>
                          <td class="w-50">{{selectedRegistrant.fname}} {{selectedRegistrant.lname}}</td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td>{{selectedRegistrant.email}}</td>
                        </tr>
                        <tr>
                          <th>Contact</th>
                          <td>{{selectedRegistrant.contact}}</td>
                        </tr>
                        <tr>
                          <th>Date of Birth</th>
                          <td>{{selectedRegistrant.dob}}</td>
                        </tr>
                        <tr>
                          <th>Specialty</th>
                          <td>{{renderSpecialty(selectedRegistrant.specialty)}}</td>
                        </tr>
                        <tr>
                          <th>Membership Classification</th>
                          <td>{{renderMembershipClassification(selectedRegistrant.classification)}}</td>
                        </tr>
                        <tr>
                          <th>Affiliation</th>
                          <td>{{selectedRegistrant.affiliation}}</td>
                        </tr> 
                        <tr>
                          <th>Area of Practice</th>
                          <td>
                            <ul class="list-group">
                              <li class="list-group-item" v-for="(area,index) in selectedRegistrant.areas_of_practice" :key="index">{{area.area}}</li>
                            </ul>
                          </td>
                        </tr>                                
                        <tr>
                          <th>Chapter Membership</th>
                          <td>{{renderCMembership(selectedRegistrant.cMembership)}}</td>
                        </tr>                                
                        <tr>
                          <th>Purpose of enrolling to the course</th>
                          <td>{{selectedRegistrant.purpose}}</td>
                        </tr>                                
                      </tbody>
                    </table>
                </div>
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-primary btn-sm" @click="showModal = false">Done</button>
            </div>
        </bs4-modal>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row" >
                  <div class="col-5">
                    <button @click.prevent="viewRegistrationPeriod" class="btn btn-primary btn-lg">
                      View/Update Registration Period
                    </button>
                    <p></p>
                    <a type="button" href="/registrations/export_mapping" class="btn btn-success btn-sm">Export <i class="fas fa-file-excel"></i></a>
                  </div>
                  <div class="col-7" v-if="isPeriodViewing">

                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <form @submit.prevent="handleUpdatePeriodClicked">
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <th scope="row">Opening period</th>
                                  <td>
                                    <input 
                                      v-model="settings.c19_start_period"
                                      type="datetime-local" class="form-control" v-if="isEditting" />
                                      <p v-else>{{settings.c19_start_period}}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">Closing period</th>
                                  <td>
                                    <input 
                                      v-model="settings.c19_end_period"
                                      type="datetime-local" class="form-control" v-if="isEditting" />
                                      <p v-else>{{settings.c19_end_period}}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row"></th>
                                  <td>
                                    <div v-if="isEditting">
                                      <button type="submit" class="btn btn-success btn-sm " v-if="isEditting">Update</button>
                                      <button class="btn btn-danger btn-sm " @click.prevent="isEditting = false">Cancel</button>
                                    </div>
                                    <button @click.prevent="isEditting = true" class="btn btn-info btn-sm btn-block" v-else>Edit</button>
                                  </td>
                                </tr>                              
                              </tbody>
                            </table>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr/> 
                <table class="table table-hover ">
                  <thead class="table-primary">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Specialty</th>
                      <th scope="col">Time added</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(registrant,index) in registrants">
                      <td>{{index+1}}</td>
                      <td>{{registrant.fname}} {{registrant.lname}}</td>
                      <td>{{registrant.email}}</td>
                      <td>{{renderSpecialty(registrant.specialty)}}</td>
                      <td>{{registrant.created_at}}</td>
                      <td><button @click.prevent="showRegistrantDetails(registrant)" class="btn btn-info"><i class="fa fa-search"></i></button></td>
                    </tr>
                    
                  </tbody>
                </table>             
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.registrants = this.props_registrants
            this.settings = this.props_settings
        },
        props: ['props_registrants', 'props_settings'],
        data(){
            return{
                registrants: [],
                showModal: false,
                selectedRegistrant: [],
                modalSize: 'modal-lg',
                settings: [],
                date_startPeriod: '',
                date_endPeriod: '',
                isEditting: false,
                isPeriodViewing: false
            }
        },
        methods:{
            showRegistrantDetails(registrant){
                this.showModal = true
                this.selectedRegistrant = registrant
                // console.log(registrant)
            },
            renderSpecialty(specialty){
                if(specialty === 'ac'){
                    return 'AP-CP'
                }else if(specialty === 'c'){
                    return 'CP'
                }else{
                    return 'AP (participation only)'

                }
            },

            renderMembershipClassification(classification){
                if(classification === 'D'){
                    return "DIPLOMATE"
                }else{
                    return "FELLOW"
                }
            },
            async handleUpdatePeriodClicked(){
              let fd = new FormData();
              fd.append('date_startPeriod', this.settings.c19_start_period)
              fd.append('date_endPeriod', this.settings.c19_end_period)

              let {data} = await axios.post('/settings/update', fd)
              location.reload()
            },
            viewRegistrationPeriod(){
              this.isPeriodViewing = !this.isPeriodViewing
            },
            renderCMembership(cMembership){
              if(cMembership === 'clc'){
                return "Central Luzon Chapter"
              }else if(cMembership === 'nlc'){
                return "North Luzon Chapter"
              }else if(cMembership === 'slc'){
                return "South Luzon Chapter"
              }else if(cMembership === 'bic'){
                return "Bicol Chapter"
              }else if(cMembership === 'cvc'){
                return "Central Visayas Chapter"
              }else if(cMembership === 'wvc'){
                return "Western Visayas Chapter"
                
              }else if(cMembership === 'nmc'){
                return "Northern Mindanao Chapter"
                
              }else if(cMembership === 'smc'){
                return "Southern Mindanao Chapter"
                
              }else if(cMembership === 'swmc'){
                return "South Western Mindanao Chapter"
                
              }else{
                return "None"
              }
            }
        }

    }
</script>
