<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        New User
                    </div>

                    <div class="card-body">
                        <form @submit.prevent="handleSaveButtonClicked">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td class="w-25">Name</td>
                                        <td class="w-75">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" class="form-control" required v-model="text_first_name" placeholder="Enter first name">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" required v-model="text_last_name" placeholder="Enter last name">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-25">Contact</td>
                                        <td class="w-75">
                                            <input type="text" class="form-control" required v-model="text_contact"
                                            placeholder="Enter contact number">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-25">Email</td>
                                        <td class="w-75">
                                            <input type="email" class="form-control" required v-model="text_email"
                                            placeholder="Enter email address">
                                            <small class="text-danger" v-if="errors[0] == 'email'">
                                            Email already exists.
                                        </small>
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td class="w-25">Affiliation</td>
                                        <td class="w-75">
                                            <input type="text" class="form-control" required v-model="text_affiliation"
                                            placeholder="Enter Affiliation">
                                        </td>
                                    </tr>          
                                    <tr>
                                        <td class="w-25">Classification</td>
                                        <td class="w-75">
                                            <p class="text-info"><i class="fas fa-info-circle"></i> <strong>Residents and graduates, please choose "Junior".</strong></p>
                                          <div class="form-group">
                                            <div class="custom-control custom-radio" v-for="classification in $store.getters.classifications" :key="classification.value">
                                              <input 
                                                type="radio" 
                                                :id="classification.value" 
                                                v-model="radio_classification" 
                                                name="customRadio" 
                                                class="custom-control-input"
                                                :value="classification.value"
                                                required 
                                              >
                                              <label class="custom-control-label" :for="classification.value">
                                                {{classification.value}}
                                              </label>
                                            </div>
                                          </div>                                             
                                            <!-- <select class="custom-select" v-model="user.classification">
                                                <option :value="classification.value" v-for="classification in $store.getters.classifications">{{classification.value}}</option>
                                            </select> -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-25">Username</td>
                                        <td class="w-75">
                                            <input type="text" class="form-control" required v-model="text_username" placeholder="Enter username">
                                            <small class="text-danger" v-if="errors[0] == 'username'">
                                            Username already exists.
                                        </small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-25">Password</td>
                                        <td class="w-75">
                                            <div class="form-group mb-0">
                                                <div class="input-group mb-0">
                                                    <input :type="isPasswordView ? 'text' : 'password'" class="form-control" placeholder="Enter Password" v-model="text_password" required>
                                                  <div class="input-group-append">
                                                    <span class="input-group-text" @click="handleViewPassword"><i :class="isPasswordView ? 'fa fa-eye' : 'fas fa-eye-slash' "></i></span>
                                                  </div>
                                                </div>
                                              </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p class="text-info">Would you like to take a screenshot or picture of the username and password.</p>
                                        </td>
                                    </tr> 

                                    <tr>
                                        <td colspan="2">
                                            <button 
                                                :disabled="isSaving"
                                                type="submit" 
                                                class="btn btn-success"
                                            >Save and Register</button>

                                            <div v-if="isSaving">
                                                <loader></loader>
                                            </div>
                                        </td>
                                    </tr>                                
                                </tbody>
                            </table>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['props_eventid'],
        mounted() {
            
        },
        data(){
            return{
                isSaving: false,
                text_first_name: '',
                text_last_name: '',
                text_email: '',
                text_contact: '',
                text_affiliation: '',
                radio_classification: '',
                text_username: '',
                text_password: '',
                errors: [],
                isPasswordView: false
            }
        },
        methods:{
            async handleSaveButtonClicked(){
                this.errors = []
                this.isSaving = true
                let fd = new FormData();
                fd.append('first_name', this.text_first_name);
                fd.append('last_name', this.text_last_name);
                fd.append('contact', this.text_contact);
                fd.append('email', this.text_email);
                fd.append('affiliation', this.text_affiliation);
                fd.append('classification', this.radio_classification);
                fd.append('username', this.text_username);
                fd.append('password', this.text_password);
                let {data} = await axios.post('/events/'+this.props_eventid+'/new-user', fd)
                if(data.status === 'ok'){
                            this.isSaving = false
                            window.location.href = '/events/'+this.props_eventid+'/register/'+data.user_id
                        }else{
                            this.errors.push(data.key)
                            this.isSaving  = false
                        }
            },
            handleViewPassword(){
                this.isPasswordView = !this.isPasswordView
            },
        }
    }
</script>
