<template>
    <div class="card rounded-0 shadow-sm border-primary mb-4">
        <div class="card-body">
            <h4 class="text-primary">Discount Vouchers</h4>
            <button class="btn btn-success rounded-circle btn-sm" @click="showModal = true"><i class="fa fa-plus"></i></button>
            <hr>
            <ul class="list-group" v-for="voucher in thisComponentEventVouchers">
                <a :href="'/events/'+propsEvent.id+'/vouchers/'+voucher.id">
                  <li class="rounded-0 list-group-item d-flex justify-content-between align-items-center">
                    {{voucher.code}}
                    <span class="badge badge-primary badge-pill">{{voucher.discount}}%</span>
                  </li>
                </a>
            </ul>                    
        </div>
        <modal-component v-if="showModal" @close="showModal=false">
            <div slot="header">
                <h4>New Discount Voucher</h4>
            </div>
            <div slot="body">
                <form @submit.prevent="handleSaveNewVoucher">
                  <fieldset>
                    <form-text 
                        v-model="text_code" 
                        :text_legend="'Voucher Code'"
                        :type="'text'"
                        :placeholder="'Voucher code here'"

                    >
                    </form-text>
                    <form-text 
                        v-model="text_discount" 
                        :text_legend="'Discount'"
                        :type="'number'"
                        :placeholder="'Discount here'"
                        :step="'1'"
                    >
                    </form-text>                    
                    <button class="btn btn-success rounded-0">Save</button>
                    <button class="btn btn-danger rounded-0" @click.prevent="handleCancelClicked">Cancel</button>
                  </fieldset>
                </form>           
            </div>
            <div slot="footer"></div>
        </modal-component>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        props:['propsEvent'],
        data(){
            return{
                showModal: false,
                text_code: '',
                text_discount: '',
            }
        },
        computed:{
            thisComponentEventVouchers(){
                return this.propsEvent.vouchers
            }
        },
        methods:{
            handleCancelClicked(){
                this.showModal = !this.showModal
                this.cleartInputs()
            },
            cleartInputs(){
                this.text_code = ''
                this.text_discount = ''
            },
            async handleSaveNewVoucher(){
                let fd = new FormData();
                fd.append('code', this.text_code)
                fd.append('discount', this.text_discount)
                let {data} = await axios.post('/events/'+this.propsEvent.id+'/vouchers/save',fd)
                console.log(data)
                if(data.status === 'success'){
                    this.propsEvent.vouchers.push({'event_id': this.propsEvent.id, 'code':this.text_code, 'discount': this.text_discount, 'id': data.id})
                    this.showModal = !this.showModal
                    this.cleartInputs()

                }
            }
        }
    }
</script>
