<template>
    <div class="row justify-content-center">
        <div class="col-6" v-for="(event,index) in $store.getters.events" :key="event.id" v-if="$store.getters.events != []">
            <div 
                class="card rounded-0 text-white bg-primary mb-3 " 
                :class="eventMouseOver == event.id ? 'shadow-lg' : ''" 
                @mouseover="mouseOver(event)" 
                style="height: 1.2in; cursor: pointer;" 
                @click="handleViewEventClicked(event)"
                @mouseleave="eventMouseOver=''"
            >
                <div class="card-body ">
                    <h5 class="card-title ">{{event.title}}</h5>
                </div>
            </div>
        </div>
        <div class="col-4" v-if="$store.getters.events == ''">
            <div class="alert alert-danger" role="alert">
                <strong>Sorry!</strong> No records found.
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        data(){
            return{
                eventMouseOver: '',
            }
        },
        // props:['events'],
        methods:{
            handleViewEventClicked(event){
                window.location.href= `events/${event.id}`
            },
            mouseOver(event){
                this.eventMouseOver = event.id
            }
        },
    }
</script>
