<template>
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <h2 class="text-primary">List of Events</h2>
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-lg btn-primary rounded-0"  @click="showModal = true"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-10 ">
                                <div class="row justify-content-end align-items-end">
                                    <div class="col-lg-6">
                                        <form @submit.prevent="handleSearchFormSubmit">
                                            <div class="input-group">
                                                <input 
                                                    type="text" 
                                                    class="form-control form-control-lg rounded-0"
                                                    placeholder="Search event here"
                                                    v-model="text_search"
                                                >
                                                <span class="input-group-btn">
                                                    <button 
                                                        class="btn btn-secondary btn-lg rounded-0" 
                                                        type="button"
                                                        
                                                    ><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <auth-events-lists></auth-events-lists>
        <bs4-modal :props_modalshow="showModal" :props_modalsize="'modal-lg'">
        <div slot="header">
            <h3 class="text-primary"><strong>New Event</strong></h3>
        </div>
        <div slot="body">
            
            <form>
                <fieldset>
                <div class="form-group row">
                    <legend class="col-sm-4">Title:</legend>
                    <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Title here" v-model="text_title">
                    </div>
                </div> 
                <div class="form-group row">
                    <legend class="col-sm-4">Date:</legend>
                    <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-5">
                            <input 
                                type="date" 
                                class="form-control form-control-lg"
                                v-model="start_dt"
                            >
                        </div>
                        <div class="col-md-2 text-center"> - </div>
                        <div class="col-md-5">
                            <input 
                                type="date" 
                                class="form-control form-control-lg"
                                v-model="end_dt"
                            >
                        </div>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <legend class="col-sm-4">Start Time:</legend>
                    <div class="col-sm-8">
                    <input type="time" v-model="startTime" class="form-control form-control-lg">
                    </div>
                </div>                                                        
                <div class="form-group row">
                    <legend class="col-sm-4">End Time:</legend>
                    <div class="col-sm-8">
                    <input type="time" v-model="endTime" class="form-control form-control-lg">
                    </div>
                </div>   
                <div class="form-group row">
                    <legend class="col-sm-4">Registration Start:</legend>
                    <div class="col-sm-8">
                    <input type="datetime-local" v-model="registration_start_time" class="form-control form-control-lg">
                    </div>
                </div>                                                        
                <div class="form-group row">
                    <legend class="col-sm-4">Registration End:</legend>
                    <div class="col-sm-8">
                    <input type="datetime-local" v-model="registration_end_time" class="form-control form-control-lg">
                    </div>
                </div>   
                <div class="form-group row">
                    <legend class="col-sm-4">Venue:</legend>
                    <div class="col-sm-8">
                    <textarea class="form-control" v-model="textarea_venue" placeholder="Venue here" rows="3" style="resize: none;"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <legend class="col-sm-4">Description:</legend>
                    <div class="col-sm-8">
                    <vue-editor v-model="textarea_description" :placeholder="'Description here'"></vue-editor>
                    </div>
                </div>                      
                <div class="form-group row">
                    <legend class="col-sm-4">Description File:</legend>
                    <div class="col-sm-8">
                    <div class="form-group">
                        <input type="file" class="form-control-file" @change="handleFileChange">
                    </div>               
                    </div>
                </div>                                                          
                </fieldset>
            </form>
        </div>

        <div slot="footer">
            <button class="btn btn-primary" @click="handleSaveEventClicked">Save</button>
            <button class="btn btn-secondary" @click="handleCloseModalClicked">Cancel</button>
        </div>
    </bs4-modal>
    </div>    
</template>

<script>
    export default {
        mounted() {
            this.updateEvents()
        },
        data(){
            return{
                showModal: false,
                text_title: '',
                date: '',
                startTime: '',
                endTime: '',
                textarea_venue: '',
                textarea_description: '',
                file_description: [],
                text_search: '',
                start_dt: '',
                end_dt: '',
                file: '',
                registration_start_time: '',
                registration_end_time: '',
                                
            }
        },
        props:['events'],
        methods:{
            updateEvents(){
                this.$store.commit('updateEvents', this.events)
            },
            handleCloseModalClicked(){
                this.showModal = false
                this.clearInputs()
            },
            clearInputs(){
                this.text_title = '';
                this.date = '';
                this.startTime = '';
                this.endTime = '';
                this.textarea_venue = '';
                this.textarea_description = '';
                this.file_description = '';
                this.file = '';
            },
            async handleSaveEventClicked(){
                let fd = new FormData();
                fd.append('title', this.text_title);
                fd.append('start_dt', this.start_dt);
                fd.append('end_dt', this.end_dt);
                fd.append('start_tm', this.startTime);
                fd.append('end_tm', this.endTime);
                fd.append('venue', this.textarea_venue);
                fd.append('description', this.textarea_description);
                // fd.append('file_description', this.file_description);
                fd.append('file_description', this.file);
                fd.append('start_registration', this.registration_start_time);
                fd.append('end_registration', this.registration_end_time);
                let {data} = await axios.post('/events/save', fd);
                if(data.status == 'success'){
                    this.showModal = false
                    this.$store.commit('addEvent', {id:data.id,title:this.text_title});
                    this.clearInputs();
                }
            },
            async handleSearchFormSubmit(){
                if(this.text_search === ''){
                    this.$store.commit('updateEvents', this.events)

                }else{
                    let fd = new FormData();
                    fd.append('search_string', this.text_search);
                    let {data} = await axios.post('/events/search', fd);
                    this.$store.commit('updateEvents', data.pspevents)
                }


            },
            handleFileChange(e){
                if(this.file != undefined){
                    this.selectedForUpload =''
                }
                this.renderToUploadReceipt(e.target)          
                this.file = e.target.files[0]
            },     
            renderToUploadReceipt(input){
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = (e) =>{
                        this.selectedForUpload = e.target.result
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            },                   
        }
    }
</script>
