<template>
    <div class="card rounded-0 shadow-sm border-primary mb-4">
        <div class="card-body">
            <h4 class="text-primary">Additional Fees</h4>
            <button class="btn btn-success rounded-circle btn-sm" @click="showModal = true"><i class="fa fa-plus"></i></button>
            <hr>
            <ul class="list-group" v-for="(item, index) in thisComponentEventAdditional" :key="index">
                <a :href="'/events/'+propsEvent.id+'/additional/'+item.id">
                  <li class="rounded-0 list-group-item d-flex justify-content-between align-items-center">
                    {{item.classification | additional_classification_render}}
                    <span class="badge badge-primary badge-pill" v-if="item.currency === 'usd'">USD {{item.amount}}</span>
                    <span class="badge badge-primary badge-pill" v-else>PHP {{item.amount}}</span>
                  </li>
                </a>
            </ul>                    
        </div>
        <bs4-modal :props_modalshow="showModal" :props_modalsize="'modal-lg'">
        <div slot="header">
            <h4>New Additional fee</h4>
        </div>
        <div slot="body">
            <form @submit.prevent="handleSaveNewAdditional">
                <fieldset>
                    <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <legend>Currency</legend>
                        </div>
                        <div class="col-8">
                            <select 
                                class="custom-select"
                                v-model="select_currency"
                            >
                                <option 
                                :value="currency.key" v-for="currency in $store.getters.currencies" :key="currency.key">{{currency.value}}</option>
                            </select>
                        </div>
                    </div>
                    </div>
                <form-text 
                    v-model="text_classification" 
                    :text_legend="'Classification'"
                    :type="'text'"
                    :placeholder="'Classification'"
                >
                </form-text>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <legend >Amount</legend>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" v-if="select_currency === 'usd'">USD</span>
                                <span class="input-group-text" v-else>PHP</span>
                                </div>
                                <input
                                placeholder="Amount here"
                                type="number" step=".01" class="form-control" v-model="text_amount">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>                    
                <button class="btn btn-success rounded-0">Save</button>
                <button class="btn btn-danger rounded-0" @click.prevent="handleCancelClicked">Cancel</button>
                </fieldset>
            </form> 
        </div>

        <div slot="footer">
        </div>
    </bs4-modal>

    </div>
</template>

<script>
    export default {
        mounted() {
            this.$store.getters.currencies.splice(this.$store.getters.currencies.indexOf('usd'), 1)
        },
        props:['propsEvent'],
        data(){
            return{
                currencies: [
                    {key: 'php', value: 'Philippine Peso'},
                    {key: 'usd', value: 'US Dollar'},
                ],
                showModal: false,
                text_classification: '',
                text_amount: '',
                select_currency: 'php'
            }
        },
        computed:{
            thisComponentEventAdditional(){
                return this.propsEvent.additional_fees
            }
        },
        methods:{
            handleCancelClicked(){
                this.showModal = !this.showModal
                this.cleartInputs()
            },
            cleartInputs(){
                this.text_classification = ''
                this.text_amount = ''
                this.select_currency = 'php'
            },
            async handleSaveNewAdditional(){
                let fd = new FormData();
                fd.append('classification', this.text_classification)
                fd.append('amount', this.text_amount)
                fd.append('currency', this.select_currency)
                let {data} = await axios.post('/events/'+this.propsEvent.id+'/additional/save',fd)
                console.log(data)
                if(data.status === 'success'){
                    this.propsEvent.additional_fees.push({'event_id': this.propsEvent.id, 'classification':this.text_classification, 'amount': this.text_amount, 'id': data.id, 'currency': data.currency})
                    this.showModal = !this.showModal
                    this.cleartInputs()

                }
            }
        }
    }
</script>
