<template>
    <div class="card rounded-0 shadow-sm border-primary mb-4">
        <div class="card-body">
            <h4 class="text-primary">Rates</h4>
            <button class="btn btn-success rounded-circle btn-sm" @click="showModal = true"><i class="fa fa-plus"></i></button>
            <hr>
            <ul class="list-group" v-for="(rate, index) in thisComponentEventRates" :key="index">
                <div v-if="rate.category != 'Non-Member'">
                    <div v-if="rate.category != 'Junior'">
                        <a :href="'/events/'+propsEvent.id+'/rates/'+rate.id">
                        <li class="rounded-0 list-group-item d-flex justify-content-between align-items-center">
                            {{rate.category | additional_classification_render}}
                            <span class="badge badge-primary badge-pill" v-if="rate.currency === 'usd'">USD {{rate.amount}}</span>
                            <span class="badge badge-primary badge-pill" v-else>PHP {{rate.amount}}</span>
                        </li>
                        </a>
                    </div>
                    <div v-else>
                        <a :href="'/events/'+propsEvent.id+'/rates/'+rate.id">
                        <li class="rounded-0 list-group-item d-flex justify-content-between align-items-center">
                            {{rate.category  + " Member (Residency Graduate)" }}
                            <span class="badge badge-primary badge-pill" v-if="rate.currency === 'usd'">USD {{rate.amount}}</span>
                            <span class="badge badge-primary badge-pill" v-else>PHP {{rate.amount}}</span>
                        </li>
                        </a>
                    </div>
                </div>
                <div v-else>
                    <a :href="'/events/'+propsEvent.id+'/rates/'+rate.id">
                    <li class="rounded-0 list-group-item d-flex justify-content-between align-items-center">
                        {{rate.category}} {{rate.sub_category}} ({{rate.currency === 'usd' ? 'International' : 'Local'}})
                        <span class="badge badge-primary badge-pill" v-if="rate.currency === 'usd'">USD {{rate.amount}}</span>
                        <span class="badge badge-primary badge-pill" v-else>PHP {{rate.amount}}</span>
                    </li>
                    </a>
                </div>
            </ul>                    
        </div>
        <bs4-modal :props_modalshow="showModal" :props_modalsize="'modal-lg'">
            <div slot="header">
                <h4>New Rates</h4>
            </div>
            <div slot="body">
                <form @submit.prevent="handleSaveNewRate">
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <legend>Currency</legend>
                                </div>
                                <div class="col-8">
                                    <select 
                                        class="custom-select"
                                        v-model="select_currency"
                                    >
                                        <option 
                                        :value="currency.key" v-for="currency in currencies" :key="currency.key">{{currency.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <legend>Category</legend>
                                </div>
                                <div class="col-8">
                                    <select 
                                        class="custom-select"
                                        v-model="select_category"
                                    >
                                        <option 
                                        :value="classification.value" v-for="(classification,index) in $store.getters.classifications" :key="index">{{classification.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" v-if="select_category === 'Non-Member'">
                            <div class="row">
                                <div class="col-4">
                                    <legend>Sub Category</legend>
                                </div>
                                <div class="col-8">
                                    <div class="input-group mb-3">
                                        <input
                                        placeholder="Day 1"
                                        type="text" class="form-control" v-model="text_sub_category">
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <legend >Amount</legend>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" v-if="select_currency === 'usd'">USD</span>
                                    <span class="input-group-text" v-else>PHP</span>
                                    </div>
                                    <input
                                    placeholder="Amount here"
                                    type="number" step=".01" class="form-control" v-model="text_amount">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <button class="btn btn-success rounded-0">Save</button>
                    <button class="btn btn-danger rounded-0" @click.prevent="handleCancelClicked">Cancel</button>
                    </fieldset>
                </form> 
            </div>

            <div slot="footer">
            </div>
        </bs4-modal>

    </div>
</template>

<script>
    export default {
        watch: {
            select_category(e){
                this.text_sub_category = ''
                
            }
        },
        mounted() {
            // this.$store.commit('addToClassification', 'Non-Member')
        },
        props:['propsEvent'],
        data(){
            return{
                currencies: [
                    {key: 'php', value: 'Philippine Peso'},
                    {key: 'usd', value: 'US Dollar'},
                ],
                showModal: false,
                select_category: 'Resident',
                text_amount: '',
                select_currency: 'php',
                text_sub_category: ''
            }
        },
        computed:{
            thisComponentEventRates(){
                return this.propsEvent.rates
            }
        },
        methods:{
            handleCancelClicked(){
                this.showModal = !this.showModal
                this.cleartInputs()
            },
            cleartInputs(){
                this.select_category = ''
                this.text_amount = ''
                this.select_currency = 'php'
                this.text_sub_category = null
            },
            async handleSaveNewRate(){
                let fd = new FormData();
                fd.append('category', this.select_category)
                fd.append('amount', this.text_amount)
                fd.append('currency', this.select_currency)
                fd.append('sub_category', this.text_sub_category)
                let {data} = await axios.post('/events/'+this.propsEvent.id+'/rates/save',fd)
                console.log(data)
                if(data.status === 'success'){
                    this.propsEvent.rates.push({'event_id': this.propsEvent.id, 'category':this.select_category, 'amount': this.text_amount, 'id': data.id, 'currency': data.currency})
                    this.showModal = !this.showModal
                    this.cleartInputs()

                }
            }
        }
    }
</script>
