<template>
    <div class="card rounded-0 shadow-sm border-secondary mb-4">
        <div class="card-body">
            <h4 class="text-secondary">Accommodations</h4>
            <button class="btn btn-secondary rounded-circle btn-sm" @click="showModal = true"><i class="fa fa-plus"></i></button>
            <hr>
            <ul class="list-group" v-for="accommodation in thisComponentEventAccommodations">
                <a :href="'/events/'+propsEvent.id+'/accommodations/'+accommodation.id" class="text-secondary">
                  <li class="rounded-0 list-group-item d-flex justify-content-between align-items-center">
                    {{accommodation.category}}
                    <span class="badge badge-secondary badge-pill">{{accommodation.amount}}</span>
                  </li>
                </a>
            </ul>       

        </div>
        <modal-component v-if="showModal" @close="showModal=false">
            <div slot="header">
                <h4>New Accommodation</h4>
            </div>
            <div slot="body">
                <form @submit.prevent="handleSaveNewAccommondation">
                  <fieldset>
                    <form-text 
                        v-model="text_category" 
                        :text_legend="'Category'"
                        :type="'text'"
                        :placeholder="'Category here'"

                    >
                    </form-text>
                    <form-text 
                        v-model="text_amount" 
                        :text_legend="'Amount'"
                        :type="'number'"
                        :placeholder="'Amount here'"
                        :step="'.01'"
                    >
                    </form-text>  
                    <form-select 
                        :select_legend="'Limited slot?'"
                        :props_options="isLimitedOptions"
                        :props_selected="select_isLimited"
                        @selectChange="handleChange"
                        >
                            
                    </form-select>   
                    <form-text 
                        v-model="text_slot" 
                        :text_legend="'Slot'"
                        :type="'number'"
                        :placeholder="'Slot here'"
                        v-if="select_isLimited == 1"
                    >   
                    </form-text>                                      
                    <button class="btn btn-success rounded-0">Save</button>
                    <button class="btn btn-danger rounded-0" @click.prevent="handleCancelClicked">Cancel</button>
                  </fieldset>
                </form>           
            </div>
            <div slot="footer"></div>
        </modal-component>
    </div>
</template>

<script>
    export default {
        created() {
            this.accommodations = this.propsEvent.accommodations
            // console.log(this.propsEvent.accommodations)
        },
        props: ['propsEvent'],
        data(){
            return{
                accommodations: [],
                showModal: false,
                isLimitedOptions: [{key:1, value:"Yes"}, {key:0, value:'No'}],
                text_category: '',
                text_amount: '',
                select_isLimited: '0',
                text_slot: '',
            }
        },
        computed:{
            thisComponentEventAccommodations(){
                return this.propsEvent.accommodations
            }
        },     
        methods:{
            handleChange(e){
                this.select_isLimited = e.target.value
            },
            handleCancelClicked(){
                this.showModal = !this.showModal
                this.cleartInputs()  
                

            },        
            async handleSaveNewAccommondation(){
                let fd = new FormData();
                fd.append('category', this.text_category);
                fd.append('amount', this.text_amount);
                fd.append('isLimited', this.select_isLimited);
                if(this.select_isLimited == 1){
                    fd.append('limit', this.text_slot);
                }else{
                    fd.append('limit', 0);

                }
                let {data} = await axios.post('/events/'+this.propsEvent.id+'/accommodations/save', fd);
                if(data.status === 'success'){
                    this.editMode = !this.editMode
                    this.propsEvent.accommodations.push(
                        {
                            'event_id': this.propsEvent.id,
                            'category':this.text_category, 
                            'amount': this.text_amount, 
                            'id': data.id})
                    this.showModal = !this.showModal
                    this.cleartInputs()                    
                }                
            },
            cleartInputs(){
                this.text_category = ''
                this.text_amount = ''
                this.select_isLimited = 0
                this.text_slot = 0
            },                
        }   
    }
</script>
