<template>
    <div class="container">
        
        <div class="row">
            <div class="col-12 ">
                <div class="row d-flex justify-content-end align-items-end">
                    <div class="col-lg-12">
                        <form @submit.prevent="handleSearchFormSubmit">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    class="form-control form-control-lg rounded-0"
                                    placeholder="Search member here"
                                    v-model="text_search"
                                >
                                <span class="input-group-btn">
                                    <button 
                                        class="btn btn-secondary btn-lg rounded-0" 
                                        type="submit"
                                        
                                    ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 " v-if="isSearchList" >
                <slot name="searchHint">
                    
                </slot>
            </div>
            <div v-if="!isSearchList" class="col-12 mt-3">
                <div class="row">
                    <div class="col">
                        Total Entries: {{$store.getters.total}}
                    </div>
                    <div class="col d-flex justify-content-end align-items-end">
                        <ul class="pagination ">
                            <li class="page-item" :class="$store.getters.nullPrev ? 'disabled' : ''" style="cursor: pointer;">
                                <a class="page-link" @click="toPrevPage">&laquo; </a>
                            </li>
                            <li class="page-item" :class="pageNumber == $store.getters.current_page ? 'active' : ''" v-for="pageNumber in totalPages" 
                                v-if="Math.abs(pageNumber - $store.getters.current_page) < 2 || pageNumber == totalPages - 1 || pageNumber == 1">
                            <a class="page-link" href="#" @click="setPage(pageNumber)"  
                                :id="Math.abs(pageNumber - $store.getters.current_page)"
                               :class="{current: $store.getters.current_page === pageNumber, last: (pageNumber == totalPages - 1 && Math.abs(pageNumber - $store.getters.current_page) > 2), first:(pageNumber == 1 && Math.abs(pageNumber - $store.getters.current_page) > 2)}">
                               {{ pageNumber }}</a>

                            </li>                                
                            <!-- <li class="page-item " :class="number == current_page ? 'active' : ''" v-for="(number, index) in last_page">
                                <a class="page-link" @click="toPage(number)">{{number}}</a>
                            </li> -->
                            <li class="page-item" :class="$store.getters.nullNext ? 'disabled' : ''" style="cursor: pointer;">
                                <a class="page-link" @click="toNextPage"> &raquo;</a>
                            </li>
                        </ul>                            
                    </div>
                </div>

            </div>           
            <div class="col-12 mt-3">
                <slot name="membersList" ></slot>                
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['init_url', 'search_url'],
        mounted() {
            this.paginate(this.init_url);
            // console.log('data', this.$store.getters.per_page)
        },
        computed:{
            totalPages(){
                return Math.ceil(this.$store.getters.total / this.$store.getters.per_page)
            }
        },
        data(){
            return{
                text_search: '',
                isSearchList: false
            }
        },
        methods:{
            toPage(page){
                this.paginate(this.path+"?page="+page);
            },
            toPrevPage(){
                this.paginate(this.$store.getters.prev_page_url);
            },

            toNextPage(){
                this.paginate(this.$store.getters.next_page_url);
            },

            async paginate(url){
                // this.$store.commit('addEvent', {id:data.id,title:this.text_title});
                let {data} = await axios.get(url);
                this.$store.commit('updatePerPage', data.per_page);
                this.$store.commit('updateCurrentPage', data.current_page);
                this.$store.commit('updateFirstPage', data.first_page_url);
                this.$store.commit('updateLastPage', data.last_page);
                this.$store.commit('updateLastPageUrl', data.last_page_url);
                this.$store.commit('updateNextPageUrl', data.next_page_url);
                this.$store.commit('updatePath', data.path);
                this.$store.commit('updateTotal', data.total);
                this.$store.commit('updateMembers', data.data);
                this.$store.commit('updatePrevPageUrl', data.prev_page_url);
                // this.$store.getters.per_page = data.per_page;
                // this.$store.getters.current_page = data.current_page;
                // this.$store.getters.first_page_url = data.first_page_url;
                // this.$store.getters.last_page = data.last_page;
                // this.$store.getters.last_page_url = data.last_page_url;
                // this.$store.getters.next_page_url = data.next_page_url;
                // this.$store.getters.path = data.path;
                // this.$store.getters.total = data.total;
                // this.$store.getters.members = data.data;
                // this.$store.getters.prev_page_url = data.prev_page_url;
                if(data.prev_page_url == null){
                    this.$store.commit('updateNullPrev', true);
                    // this.$store.getters.nullPrev = true
                }else{
                    this.$store.commit('updateNullPrev', false);
                    // this.$store.getters.nullPrev = false
                }

                if(data.next_page_url == null){
                    this.$store.commit('updateNullNext', true);
                    // this.$store.getters.nullNext = true
                }else{
                    this.$store.commit('updateNullNext', false);
                    // this.$store.getters.nullNext = false
                }
            },
            async handleSearchFormSubmit(){
                if(this.text_search === ''){
                    this.paginate(this.init_url);
                    this.isSearchList = false

                }else{
                    this.isSearchList = true
                    let fd = new FormData();
                    fd.append('search_string', this.text_search);
                    let {data} = await axios.post(this.search_url, fd);
                    this.$store.commit('updateMembers', data.members);
                    // this.members = data.members
                }


            },
            setPage(pageNumber) {
              this.$store.commit('updateCurrentPage', pageNumber);
              this.paginate(this.$store.getters.path+"?page="+pageNumber);
            }              
        },
                filters: {
            paginate: function(list) {
                this.resultCount = list.length
                if (this.currentPage >= this.totalPages) {
                  this.currentPage = this.totalPages - 1
                }
                var index = this.currentPage * this.itemsPerPage
                return list.slice(index, index + this.itemsPerPage)
            }
        }
    }
</script>

<style scoped>


a.first::after {
  content:'..'
}

a.last::before {
  content:'..'
} 
</style>