<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h3>List of Members</h3>
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <!-- <button class="btn btn-lg btn-primary rounded-0"  @click="showModal = true"><i class="fa fa-plus"></i></button> -->
                            </div>
                            <div class="col-10 ">
                                <div
                                    class="row justify-content-end align-items-end"
                                >
                                    <div class="col-lg-6">
                                        <form
                                            @submit.prevent="
                                                handleSearchFormSubmit
                                            "
                                        >
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control form-control-lg rounded-0"
                                                    placeholder="Search member here"
                                                    v-model="text_search"
                                                />
                                                <span class="input-group-btn">
                                                    <button
                                                        class="btn btn-secondary btn-lg rounded-0"
                                                        type="button"
                                                    >
                                                        <i
                                                            class="fa fa-search"
                                                        ></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div v-if="!isSearchList">
                    <div class="row">
                        <div class="col">Total Entries: {{ total }}</div>
                        <div class="col d-flex justify-content-end">
                            <ul class="pagination">
                                <li
                                    class="page-item"
                                    :class="nullPrev ? 'disabled' : ''"
                                    style="cursor: pointer;"
                                >
                                    <a class="page-link" @click="toPrevPage"
                                        >&laquo; Previous</a
                                    >
                                </li>
                                <li
                                    class="page-item"
                                    :class="
                                        pageNumber == current_page
                                            ? 'active'
                                            : ''
                                    "
                                    v-for="(pageNumber, index) in totalPages"
                                    v-if="
                                        Math.abs(pageNumber - current_page) <
                                            3 ||
                                            pageNumber == totalPages - 1 ||
                                            pageNumber == 1
                                    "
                                    :key="index"
                                >
                                    <a
                                        class="page-link"
                                        href="#"
                                        @click="setPage(pageNumber)"
                                        :id="
                                            Math.abs(pageNumber - current_page)
                                        "
                                        :class="{
                                            current:
                                                current_page === pageNumber,
                                            last:
                                                pageNumber == totalPages - 1 &&
                                                Math.abs(
                                                    pageNumber - current_page
                                                ) > 3,
                                            first:
                                                pageNumber == 1 &&
                                                Math.abs(
                                                    pageNumber - current_page
                                                ) > 3
                                        }"
                                    >
                                        {{ pageNumber }}</a
                                    >
                                </li>
                                <!-- <li class="page-item " :class="number == current_page ? 'active' : ''" v-for="(number, index) in last_page">
                                    <a class="page-link" @click="toPage(number)">{{number}}</a>
                                </li> -->
                                <li
                                    class="page-item"
                                    :class="nullNext ? 'disabled' : ''"
                                    style="cursor: pointer;"
                                >
                                    <a class="page-link" @click="toNextPage"
                                        >Next &raquo;</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div
                    class="card"
                    v-for="member in members"
                    :key="member.id"
                    v-if="members != []"
                >
                    <div
                        class="card-body p-0"
                        v-if="memberForEdit.id !== member.id"
                    >
                        <div
                            class=" row justify-content-center align-items-center"
                        >
                            <div class="col-3">
                                <img
                                    src="https://place-hold.it/300x300?text=PSP%20Member&italic=true&bold=true"
                                    class="img-fluid"
                                    alt="psp_dp"
                                />
                            </div>
                            <div class="col-8">
                                <h4 class="card-title mb-0">
                                    {{
                                        member.first_name +
                                            " " +
                                            member.last_name
                                    }}
                                </h4>
                                <p class="card-text mb-0">
                                    <i class="fa fa-key"></i> &nbsp{{
                                        member.username
                                    }}
                                </p>
                                <p class="card-text mb-0">
                                    <i class="fa fa-users"></i> &nbsp{{
                                        renderMemberClassification(
                                            member.classification
                                        )
                                    }}
                                </p>
                                <p class="card-text mb-0">
                                    <i
                                        class="fa fa-phone"
                                        aria-hidden="true"
                                    ></i>
                                    &nbsp{{ member.contact }}
                                </p>
                                <p class="card-text mb-0">
                                    <i class="fas fa-at"></i> &nbsp{{
                                        member.email
                                    }}
                                </p>
                                <p class="card-text mb-0">
                                    <i class="far fa-hospital"></i> &nbsp{{
                                        member.affiliation
                                    }}
                                </p>
                                <p class="card-text">
                                    <i class="fab fa-keycdn"></i> &nbspAccount
                                    status:
                                    <span
                                        v-html="renderIsActiveStatus(member)"
                                    ></span>
                                </p>
                                <button
                                    @click="
                                        handleVerifyButtonClicked(member.id)
                                    "
                                    class="btn btn-success btn-sm"
                                    v-if="member.email_verified_at == null"
                                    :disabled="verifying_id == member.id"
                                >
                                    <i
                                        class="fa fa-check"
                                        aria-hidden="true"
                                    ></i>
                                    Confirm
                                </button>
                                <span
                                    class="text-muted"
                                    v-if="verifying_id == member.id"
                                    ><i class="fa fa-spinner fa-spin"></i>
                                    Sending email. Please wait.</span
                                >
                            </div>
                            <div class="col-1">
                                <small class="float-right m-2"
                                    ><button
                                        @click="handleEditMember(member)"
                                        class="btn btn-info"
                                    >
                                        edit
                                    </button></small
                                >
                                <!-- <small class="float-right m-2"><a :href="'/members/'+member.id/+'edit'" class="btn btn-info btn-sm">Edit</a></small> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body" v-else>
                        <form @submit.prevent="handleUpdateMember">
                            <div class="form-group row">
                                <legend class="col-sm-4">Name:</legend>
                                <div class="col-sm-4">
                                    <input
                                        type="text"
                                        v-model="memberForEdit.first_name"
                                        class="form-control"
                                        placeholder="Enter first name"
                                    />
                                </div>
                                <div class="col-sm-4">
                                    <input
                                        type="text"
                                        v-model="memberForEdit.last_name"
                                        class="form-control"
                                        placeholder="Enter last name"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <legend class="col-sm-4">
                                    Classification:
                                </legend>
                                <div class="col-sm-8">
                                    <div
                                        class="custom-control custom-radio"
                                        v-for="classification in $store.getters
                                            .classifications"
                                        :key="classification.value"
                                    >
                                        <input
                                            type="radio"
                                            :id="classification.value"
                                            v-model="
                                                memberForEdit.classification
                                            "
                                            name="customRadio"
                                            class="custom-control-input"
                                            :value="classification.value"
                                        />
                                        <label
                                            class="custom-control-label"
                                            :for="classification.value"
                                        >
                                            {{ classification.value }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <legend class="col-sm-4">Contact:</legend>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        v-model="memberForEdit.contact"
                                        class="form-control"
                                        placeholder="Enter contact"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <legend class="col-sm-4">Email address:</legend>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        v-model="memberForEdit.email"
                                        class="form-control"
                                        placeholder="Enter email"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <legend class="col-sm-4">Affiliation:</legend>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        v-model="memberForEdit.affiliation"
                                        class="form-control"
                                        placeholder="Enter affiliation"
                                    />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <button
                                        class="btn btn-secondary"
                                        @click="memberForEdit = []"
                                    >
                                        Cancel
                                    </button>
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div v-if="isLoading">
                    <div class="d-flex justify-content-center">
                        <loader></loader>
                    </div>
                </div>
                <div v-else>
                    <div
                        class=" row justify-content-center align-items-center"
                        v-if="members == ''"
                    >
                        <div class="alert alert-warning" role="alert">
                            <strong>Sorry!</strong> No members found.
                        </div>
                    </div>
                </div>

                <br />
                <div v-if="!isSearchList">
                    <div class="row">
                        <div class="col">Total Entries: {{ total }}</div>
                        <div class="col d-flex justify-content-end">
                            <ul class="pagination">
                                <li
                                    class="page-item"
                                    :class="nullPrev ? 'disabled' : ''"
                                    style="cursor: pointer;"
                                >
                                    <a class="page-link" @click="toPrevPage"
                                        >&laquo; Previous</a
                                    >
                                </li>
                                <li
                                    class="page-item"
                                    :class="
                                        pageNumber == current_page
                                            ? 'active'
                                            : ''
                                    "
                                    v-for="pageNumber in totalPages"
                                    v-if="
                                        Math.abs(pageNumber - current_page) <
                                            3 ||
                                            pageNumber == totalPages - 1 ||
                                            pageNumber == 1
                                    "
                                >
                                    <a
                                        class="page-link"
                                        href="#"
                                        @click="setPage(pageNumber)"
                                        :id="
                                            Math.abs(pageNumber - current_page)
                                        "
                                        :class="{
                                            current:
                                                current_page === pageNumber,
                                            last:
                                                pageNumber == totalPages - 1 &&
                                                Math.abs(
                                                    pageNumber - current_page
                                                ) > 3,
                                            first:
                                                pageNumber == 1 &&
                                                Math.abs(
                                                    pageNumber - current_page
                                                ) > 3
                                        }"
                                    >
                                        {{ pageNumber }}</a
                                    >
                                </li>
                                <!-- <li class="page-item " :class="number == current_page ? 'active' : ''" v-for="(number, index) in last_page">
                                    <a class="page-link" @click="toPage(number)">{{number}}</a>
                                </li> -->
                                <li
                                    class="page-item"
                                    :class="nullNext ? 'disabled' : ''"
                                    style="cursor: pointer;"
                                >
                                    <a class="page-link" @click="toNextPage"
                                        >Next &raquo;</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        // this.members = this.props_members
        // axios.get('/members/paginate')
        //     .then(({data})=>{
        //         console.log(data)
        //     })
        this.paginate("/members/paginate");
    },
    props: ["props_members"],
    data() {
        return {
            members: [],
            // verifying: false
            verifying_id: "",
            total: "",
            per_page: "",
            current_page: 0,
            last_page: "",
            first_page_url: "",
            last_page_url: "",
            next_page_url: "",
            prev_page_url: "",
            path: "",
            text_search: "",
            nullPrev: null,
            nullNext: null,
            isSearchList: false,
            isLoading: true,
            memberForEdit: [],
            editMode: false
        };
    },
    methods: {
        handleEditMember(member) {
            this.memberForEdit = member;
            this.editMode = true;
        },
        toPage(page) {
            this.paginate(this.path + "?page=" + page);
        },
        toPrevPage() {
            this.paginate(this.prev_page_url);
        },

        toNextPage() {
            this.paginate(this.next_page_url);
        },

        async paginate(url) {
            let { data } = await axios.get(url);
            this.isLoading = false;
            this.per_page = data.per_page;
            this.current_page = data.current_page;
            this.first_page_url = data.first_page_url;
            this.last_page = data.last_page;
            this.last_page_url = data.last_page_url;
            this.next_page_url = data.next_page_url;
            this.path = data.path;
            this.total = data.total;
            this.members = data.data;
            this.prev_page_url = data.prev_page_url;
            if (data.prev_page_url == null) {
                this.nullPrev = true;
            } else {
                this.nullPrev = false;
            }

            if (data.next_page_url == null) {
                this.nullNext = true;
            } else {
                this.nullNext = false;
            }
        },

        renderIsActiveStatus(member) {
            if (member.is_active === 1) {
                return '<span class="text-success">Active</span>';
            } else {
                if (member.email_verified_at != null) {
                    return '<span class="text-info">Email sent | Pending</span>';
                } else {
                    return '<span class="text-danger">Inactive</span>';
                }
            }
        },
        handleVerifyButtonClicked(member_id) {
            this.verifying_id = member_id;
            axios.get("/members/" + member_id + "/verify").then(({ data }) => {
                this.verifying_id = "";
                if (data.status === "ok") {
                    for (let i in this.members) {
                        if (this.members[i].id === member_id) {
                            this.members[i].email_verified_at = Date.now();
                        }
                    }
                }
            });
        },

        async handleSearchFormSubmit() {
            if (this.text_search === "") {
                this.paginate("/members/paginate");
                this.isSearchList = false;
            } else {
                this.isSearchList = true;
                let fd = new FormData();
                fd.append("search_string", this.text_search);
                let { data } = await axios.post("/members/search", fd);
                this.members = data.members;
            }
        },
        renderMemberClassification(classification) {
            if (classification == null) {
                return "Non-member";
            } else {
                return classification;
            }
        },
        async handleUpdateMember() {
            let fd = new FormData();
            fd.append("member_id", this.memberForEdit.id);
            fd.append("first_name", this.memberForEdit.first_name);
            fd.append("last_name", this.memberForEdit.last_name);
            fd.append("classification", this.memberForEdit.classification);
            fd.append("contact", this.memberForEdit.contact);
            fd.append("email", this.memberForEdit.email);
            fd.append("affiliation", this.memberForEdit.affiliation);
            let { data } = await axios.post("/members", fd);
            if (data.status == "ok") {
                this.memberForEdit = [];
            }
        },
        setPage(pageNumber) {
            this.current_page = pageNumber;
            this.paginate(this.path + "?page=" + pageNumber);
        }
    },
    computed: {
        totalPages() {
            return Math.ceil(this.total / this.per_page);
        }
    },
    filters: {
        paginate: function(list) {
            this.resultCount = list.length;
            if (this.currentPage >= this.totalPages) {
                this.currentPage = this.totalPages - 1;
            }
            var index = this.currentPage * this.itemsPerPage;
            return list.slice(index, index + this.itemsPerPage);
        }
    }
};
</script>

<style scoped>
a.first::after {
    content: "..";
}

a.last::before {
    content: "..";
}
</style>
