<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="rounded-0 card-header bg-primary text-light"><i class="fa fa-arrow-left" @click="handleBackBtnClicked" style="cursor: pointer;"></i></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>{{addtnl_details.classification}} details</h3>
                        </div>
                        <hr>
                        <div v-if="!editMode">
                            <p  class="pb-1 text-primary"><u  style="cursor: pointer;" @click="handleEditRateClicked">Edit</u></p>
                            <p class="mb-0"><strong>Currency:</strong></p>
                            <p>{{renderCurrencyView(addtnl_details.currency)}}</p>                            
                            <p class="mb-0"><strong>Classification  :</strong></p>
                            <p>{{addtnl_details.classification}}</p>
                            <p class="mb-0"><strong>Amount:</strong></p>
                            <p>{{addtnl_details.amount}}</p>
                        </div>
                        <div v-else>
                            <form @submit.prevent="handleSaveUpdateRate">
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <legend>Currency</legend>
                                    </div>
                                    <div class="col-8">
                                        <select 
                                            class="custom-select"
                                            v-model="select_currency"
                                        >
                                          <option 
                                            :value="currency.key" v-for="currency in $store.getters.currencies" :key="currency.key">{{currency.value}}</option>
                                        </select>
                                    </div>
                                </div>
                              </div>                                
                              <fieldset>
                                <form-text 
                                    v-model="text_classification" 
                                    :text_legend="'Classification'"
                                    :type="'text'"
                                    :placeholder="'Classification'"
                                >
                                </form-text>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <legend >Amount</legend>
                                        </div>
                                        <div class="col-8">
                                          <div class="form-group">
                                            <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" v-if="select_currency === 'usd'">USD</span>
                                                <span class="input-group-text" v-else>PHP</span>
                                              </div>
                                              <input
                                                placeholder="Amount here"
                                               type="number" step=".01" class="form-control" v-model="text_amount">
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>                                 
                              </fieldset>
                              <button class="btn btn-success rounded-0">Save</button>
                              <button class="btn btn-danger rounded-0" @click="handleCancelClicked">Cancel</button>                              
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created() {
            this.$store.getters.currencies.splice(this.$store.getters.currencies.indexOf('usd'), 1)
            this.addtnl_details = this.props_addtnl_details
        },
        props:['props_addtnl_details'],
        data(){
            return{
                addtnl_details: [],
                editMode: false,
                text_classification: '',
                text_amount: '',
                select_currency: 'php'
            }
        },
        methods:{
            handleEditRateClicked(){
                this.text_classification = this.addtnl_details.classification
                this.text_amount = this.addtnl_details.amount
                this.select_currency = this.addtnl_details.currency
                this.editMode = !this.editMode
            },
            handleCancelClicked(){
                this.editMode = !this.editMode

            },
            async handleSaveUpdateRate(){
                let fd = new FormData();
                fd.append('classification', this.text_classification);
                fd.append('amount', this.text_amount);
                fd.append('currency', this.select_currency);
                let {data} = await axios.post('/events/'+this.addtnl_details.pspevent_id+'/additional/'+this.addtnl_details.id, fd);
                if(data.status === 'success'){
                    this.editMode = !this.editMode
                    this.addtnl_details.classification = this.text_classification
                    this.addtnl_details.amount = this.text_amount
                }
            },
            handleBackBtnClicked(){
                window.location.href = '/events/'+this.addtnl_details.event.id
            },
            renderCurrencyView(currency){
                if(currency === 'usd'){
                    return "US Dollar"
                }else{
                    return "Philippine Peso"

                }
            }
        }
    }
</script>
