<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="rounded-0 card-header bg-primary text-light"><i class="fa fa-arrow-left" @click="handleBackBtnClicked" style="cursor: pointer;"></i></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>{{rate_details.category}} rate</h3>
                        </div>
                        <hr>
                        <div v-if="!editMode">
                            <p  class="pb-1 text-primary"><u  style="cursor: pointer;" @click="handleEditRateClicked">Edit</u></p>
                            <p class="mb-0"><strong>Currency:</strong></p>
                            <p>{{renderCurrencyView(rate_details.currency)}}</p>                            
                            <p class="mb-0"><strong>Category:</strong></p>
                            <p>{{rate_details.category}}</p>
                            <div v-if="rate_details.category == 'Non-Member'">
                                <p class="mb-0"><strong>Sub Category:</strong></p>
                                <p>{{rate_details.sub_category}}</p>
                            </div>
                            <p class="mb-0"><strong>Amount:</strong></p>
                            <p>{{rate_details.amount}}</p>
                        </div>
                        <div v-else>
                            <form @submit.prevent="handleSaveUpdateRate">
                              <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <legend>Currency</legend>
                                    </div>
                                    <div class="col-8">
                                        <select 
                                            class="custom-select"
                                            v-model="select_currency"
                                        >
                                          <option 
                                            :value="currency.key" v-for="currency in $store.getters.currencies" :key="currency.key">{{currency.value}}</option>
                                        </select>
                                    </div>
                                </div>
                              </div>                                
                              <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <legend>Category</legend>
                                        </div>
                                        <div class="col-8">
                                            <select 
                                                class="custom-select"
                                                v-model="select_category"
                                            >
                                                <option 
                                                :value="classification.value" v-for="(classification,index) in $store.getters.classifications" :key="index">{{classification.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" v-if="rate_details.category == 'Non-Member'">
                                    <div class="row">
                                        <div class="col-4">
                                            <legend>Sub Category</legend>
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group">
                                                <input
                                                type="text"  class="form-control" v-model="text_sub_cat">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <legend >Amount</legend>
                                        </div>
                                        <div class="col-8">
                                          <div class="form-group">
                                            <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" v-if="select_currency === 'usd'">USD</span>
                                                <span class="input-group-text" v-else>PHP</span>
                                              </div>
                                              <input
                                                placeholder="Amount here"
                                               type="number" step=".01" class="form-control" v-model="text_amount">
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>                                 
                              </fieldset>
                              <button class="btn btn-success rounded-0">Save</button>
                              <button class="btn btn-danger rounded-0" @click="handleCancelClicked">Cancel</button>                              
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created() {

            this.rate_details = this.props_rate_details
        },
        props:['props_rate_details'],
        data(){
            return{
                rate_details: [],
                editMode: false,
                select_category: '',
                text_amount: '',
                select_currency: 'php',
                text_sub_cat: ''
            }
        },
        methods:{
            handleEditRateClicked(){
                this.select_category = this.rate_details.category
                this.text_amount = this.rate_details.amount
                this.select_currency = this.rate_details.currency
                this.text_sub_cat = this.rate_details.sub_category
                this.editMode = !this.editMode
            },
            handleCancelClicked(){
                this.editMode = !this.editMode

            },
            async handleSaveUpdateRate(){
                let fd = new FormData();
                fd.append('category', this.select_category);
                fd.append('amount', this.text_amount);
                fd.append('currency', this.select_currency);
                fd.append('sub_category', this.rate_details.category == 'Non-Member' ? this.text_sub_cat : null);
                let {data} = await axios.post('/events/'+this.rate_details.pspevent_id+'/rates/'+this.rate_details.id, fd);
                if(data.status === 'success'){
                    this.editMode = !this.editMode
                    this.rate_details.category = this.select_category
                    this.rate_details.sub_category = this.text_sub_cat
                    this.rate_details.amount = this.text_amount
                }
            },
            handleBackBtnClicked(){
                window.location.href = '/events/'+this.rate_details.event.id
            },
            renderCurrencyView(currency){
                if(currency === 'usd'){
                    return "US Dollar"
                }else{
                    return "Philippine Peso"

                }
            }
        }
    }
</script>
