<template>
    <div class="container">
        <bs4-modal :props_modalshow="modalShow">
            <div slot="header">
                <h4>Select Member</h4>
            </div>
            <div slot="body">
                <members-list-component
                    :init_url="init_url"
                    :search_url="'/events/' + event.id + '/members/search'"
                >
                    <div slot="searchHint">
                        <p class="text-info">
                            <small
                                ><a :href="'/events/' + event.id + '/new-user'"
                                    >Member/User does not exists. Click here to
                                    add.</a
                                ></small
                            >
                        </p>
                    </div>
                    <div slot="membersList">
                        <!-- {{$store.getters.members}} -->
                        <ul class="list-group">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center"
                                v-for="member in $store.getters.members"
                            >
                                {{ member.first_name }} {{ member.last_name }}
                                <a
                                    :href="
                                        '/events/' +
                                            event.id +
                                            '/register/' +
                                            member.id
                                    "
                                    class="btn btn-sm btn-success"
                                    v-if="!member.isRegistered"
                                    >Select</a
                                >
                                <button
                                    class="btn btn-sm btn-info"
                                    disabled
                                    v-if="member.isRegistered"
                                >
                                    Registered
                                </button>
                            </li>
                        </ul>
                    </div>
                </members-list-component>
            </div>

            <div slot="footer">
                <button
                    class="btn btn-danger float-left"
                    @click="modalShow = false"
                >
                    Cancel
                </button>
                <!-- <button :disabled="isDeleting" class="btn btn-danger" @click="handleDeleteRegistrationButtonClicked">Delete and Register again</button> -->
                <!-- <loader></loader> -->
            </div>
        </bs4-modal>
        <button
            v-if="user_details.role == 3"
            class="btn btn-secondary btn-sm"
            @click="handleAddRegistrantBtnClicked"
        >
            Add Registrant
        </button>
    </div>
</template>

<script>
export default {
    mounted() {
        console.clear();
        this.event = this.props_event;
        this.user_details = this.props_user;
        this.rates = this.props_rates;
        console.log(this.event);
    },
    props: ["props_event", "props_user", "props_rates"],
    data() {
        return {
            event: [],
            user_details: [],
            init_url: "/events/" + this.props_event.id + "/members",
            selectedForEditTransactionNumber: "",
            selectedForEditTransactionDate: "",
            text_transaction_number: "",
            modalShow: false,
            select_sort: 0
        };
    },
    watch: {
        async select_sort(e) {
            let fd = new FormData();
            fd.append("status", this.select_sort);
            try {
                let { data } = await axios.post(
                    "/events/" + this.event.id + "/sort-participants",
                    fd
                );
                this.event = data.event;
            } catch (error) {
                alert(error);
            }
        }
    },
    methods: {
        renderRatesSelected(id) {
            let myRates = id.split(",");
            for (let i in this.rates) {
                for (let j in myRates) {
                    if (this.rates[i].id == myRates[j]) {
                        myRates[j] = this.rates[i];
                    }
                }
            }
            for (let i in myRates) {
                return myRates[i].category;
            }
        },
        handleGoBackBtnClicked() {
            window.location.href = "/events/" + this.event.id;
        },
        renderFullName(participant) {
            return participant.first_name + " " + participant.last_name;
        },
        renderPaymentMethod(method) {
            if (method == "bpi") {
                return "BPI Over-the-Counter";
            } else {
                return "Unionbank Online Credit Card Payment";
            }
        },
        renderPaymentStatus(status) {
            if (status == 0) {
                return "Pending";
            } else {
                return "Paid";
            }
        },
        renderAction(participant) {
            if (participant.is_accepted == 0) {
                if (participant.payment_method == "bpi") {
                    if (participant.bpi_file_path != null) {
                        return (
                            `<a target="_blank" href="` +
                            participant.bpi_file_path +
                            `" class="btn btn-info"><i class="fa fa-search"></i></a> <a href="/events/` +
                            this.event.id +
                            `/participants/` +
                            participant.member_details.id +
                            `/accept" class="btn btn-success"><i class="fa fa-check"></i></a>`
                        );
                    } else {
                        if (
                            participant.discount_percent == "100" ||
                            participant.total === "0.00"
                        ) {
                            return (
                                `<a href="/events/` +
                                this.event.id +
                                `/participants/` +
                                participant.member_details.id +
                                `/accept" class="btn btn-success"><i class="fa fa-check"></i></a>`
                            );
                        }
                        return "<p>BPI receipt not found</p>";
                    }
                } else {
                    return (
                        `<a href="/events/` +
                        this.event.id +
                        `/participants/` +
                        participant.member_details.id +
                        `/accept" class="btn btn-success"><i class="fa fa-check"></i></a>`
                    );
                }
            } else {
                if (participant.bpi_file_path != null) {
                    return (
                        `Confirmed |<a target="_blank" href="` +
                        participant.bpi_file_path +
                        `" class="btn btn-info">View receipt</a> | <a href="/events/` +
                        this.event.id +
                        `/participants/` +
                        participant.member_details.id +
                        `/accept" class="btn btn-success">Re-send email</a>`
                    );
                }
                return (
                    `Confirmed | <a href="/events/` +
                    this.event.id +
                    `/participants/` +
                    participant.member_details.id +
                    `/accept" class="btn btn-success">Re-send email</a>`
                );
            }
        },
        renderClassification(classification) {
            if (classification != null) {
                return classification;
            } else {
                return "Not a member";
            }
        },
        renderDiscountPercentView(discount_percent) {
            if (
                discount_percent != null &&
                discount_percent != "" &&
                discount_percent != "null"
            ) {
                return discount_percent + "%";
            } else {
                return "N/A";
            }
        },
        renderDiscountType(participant_details) {
            if (participant_details.discount_type === "sc") {
                if (participant_details.discount_percent == "100") {
                    return (
                        '<a target="_blank" href="' +
                        participant_details.sc_file_path +
                        '">70 years old above</a>'
                    );
                }
                return (
                    '<a target="_blank" href="' +
                    participant_details.sc_file_path +
                    '">Senior Citizen</a>'
                );
            } else if (participant_details.discount_type === "null") {
                return `<p>N/A</p>`;
            } else {
                return `<p>Discount Code</p>`;
            }
        },
        handleEditTransactionNumber(participant) {
            this.selectedForEditTransactionNumber = participant.id;
            this.text_transaction_number = participant.transaction_number;
        },
        async handleUpdateTransactionNumber(participant) {
            let fd = new FormData();
            fd.append("payment_details_id", participant.id);
            fd.append("transaction_number", this.text_transaction_number);
            let { data } = await axios.post(
                "/payment_details/updateTransactionNumber",
                fd
            );

            for (let i in this.event.participants) {
                if (participant.id == this.event.participants[i].id) {
                    this.event.participants[i].transaction_number =
                        data.transaction_number;
                }
            }
            this.selectedForEditTransactionNumber = "";
        },
        handleEditTransactionDate(participant) {
            this.selectedForEditTransactionDate = participant.id;
            this.text_transaction_date = participant.transaction_date;
        },
        async handleUpdateTransactionDate(participant) {
            let fd = new FormData();
            fd.append("payment_details_id", participant.id);
            fd.append("transaction_date", this.text_transaction_date);
            let { data } = await axios.post(
                "/payment_details/updateTransactionDate",
                fd
            );

            for (let i in this.event.participants) {
                if (participant.id == this.event.participants[i].id) {
                    this.event.participants[i].transaction_date =
                        data.transaction_date;
                }
            }
            this.selectedForEditTransactionDate = "";
        },
        async handleAddRegistrantBtnClicked() {
            this.modalShow = true;
            let { data } = await axios.get(
                "/events/" + this.event.id + "/members"
            );
            // console.log(data)
        },
        async handleSignInAs(participant_id) {
            let fd = new FormData();
            fd.append("participant_id", participant_id);
            fd.append("event_id", this.event.id);
            let { data } = await axios.post("/signInAs", fd);
            window.location.href = data;
        }
    }
};
</script>
