<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="rounded-0 card-header bg-primary text-light"><i class="fa fa-arrow-left" @click="handleBackBtnClicked" style="cursor: pointer;"></i></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>{{voucher_details.code}} voucher</h3>
                        </div>
                        <hr>
                        <div v-if="!editMode">
                            <p  class="pb-1 text-primary"><u  style="cursor: pointer;" @click="handleEditVoucherClicked">Edit</u></p>
                            <p class="mb-0"><strong>Code:</strong></p>
                            <p>{{voucher_details.code}}</p>
                            <p class="mb-0"><strong>Discount:</strong></p>
                            <p>{{voucher_details.discount}}</p>
                        </div>
                        <div v-else>
                            <form @submit.prevent="handleSaveUpdateVoucher">
                              <fieldset>
                                <form-text 
                                    v-model="text_code" 
                                    :text_legend="'Voucher Code'"
                                    :type="'text'"
                                    :placeholder="'Voucher code here'"

                                >   
                                </form-text>
                                <form-text 
                                    v-model="text_discount" 
                                    :text_legend="'Discount'"
                                    :type="'number'"
                                    :placeholder="'Discount here'"
                                    :step="'1'"
                                >
                                </form-text>                                 
                              </fieldset>
                              <button class="btn btn-success rounded-0">Save</button>
                              <button class="btn btn-danger rounded-0" @click="handleCancelClicked">Cancel</button>                              
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created() {

            this.voucher_details = this.props_voucher_details
        },
        props:['props_voucher_details'],
        data(){
            return{
                voucher_details: [],
                editMode: false,
                text_code: '',
                text_discount: '',
            }
        },
        methods:{
            handleEditVoucherClicked(){
                this.text_code = this.voucher_details.code
                this.text_discount = this.voucher_details.discount
                this.editMode = !this.editMode
            },
            handleCancelClicked(){
                this.editMode = !this.editMode

            },
            async handleSaveUpdateVoucher(){
                let fd = new FormData();
                fd.append('code', this.text_code);
                fd.append('discount', this.text_discount);
                let {data} = await axios.post('/events/'+this.voucher_details.pspevent_id+'/vouchers/'+this.voucher_details.id, fd);
                if(data.status === 'success'){
                    this.editMode = !this.editMode
                    this.voucher_details.code = this.text_code
                    this.voucher_details.discount = this.text_discount
                }
            },
            handleBackBtnClicked(){
                window.location.href = '/events/'+this.voucher_details.event.id
            }
        }
    }
</script>
