<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="rounded-0 card-header bg-secondary text-light"><i class="fa fa-arrow-left" @click="handleBackBtnClicked" style="cursor: pointer;"></i></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>{{accommodation_details.category}} accommodation</h3>
                        </div>
                        <hr>
                        <div v-if="!editMode">
                            <p  class="pb-1 text-secondary"><u  style="cursor: pointer;" @click="handleEditRateClicked">Edit</u></p>
                            <p class="mb-0"><strong>Category:</strong></p>
                            <p>{{accommodation_details.category}}</p>
                            <p class="mb-0"><strong>Amount:</strong></p>
                            <p>{{accommodation_details.amount}}</p>
                            <p class="mb-0"><strong>Limited slot:</strong></p>
                            <p>{{renderIsLimitedSlot}}</p>                                
                            <p class="mb-0"><strong>Limit:</strong></p>
                            <p>{{renderLimit}}</p>                            
                        </div>
                        <div v-else>
                            <form @submit.prevent="handleSaveUpdateAccommodation">
                              <fieldset>
                                <form-text 
                                    v-model="text_category" 
                                    :text_legend="'Category'"
                                    :type="'text'"
                                    :placeholder="'Category here'"

                                >   
                                </form-text>
                                <form-text 
                                    v-model="text_amount" 
                                    :text_legend="'Amount'"
                                    :type="'number'"
                                    :placeholder="'Amount here'"
                                    :step="'.01'"
                                >
                                </form-text>       
                                <form-select 
                                    :select_legend="'Limited slot?'"
                                    :props_options="isLimitedOptions"
                                    :props_selected="select_isLimited"
                                    @selectChange="handleChange"
                                    >
                                        
                                </form-select>   
                                <form-text 
                                    v-model="text_slot" 
                                    :text_legend="'Slot'"
                                    :type="'number'"
                                    :placeholder="'Slot here'"
                                    v-if="select_isLimited == 1"
                                >   
                                </form-text>                                                       
                              </fieldset>
                              <button class="btn btn-success rounded-0">Save</button>
                              <button class="btn btn-danger rounded-0" @click.prevent="handleCancelClicked">Cancel</button>                              
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created() {

            this.accommodation_details = this.props_accommodation_details
            this.select_isLimited = this.accommodation_details.isLimited
        },
        props:['props_accommodation_details'],
        data(){
            return{
                accommodation_details: [],
                isLimitedOptions: [{key:1, value:"Yes"}, {key:0, value:'No'}],
                editMode: false,
                text_category: '',
                text_amount: '',
                select_isLimited: '',
                text_slot: '',
                accommodationIsLimited: ''
            }
        },
        methods:{
            handleEditRateClicked(){
                this.text_category = this.accommodation_details.category
                this.text_amount = this.accommodation_details.amount
                this.text_slot = this.accommodation_details.limit
                this.editMode = !this.editMode
            },
            handleCancelClicked(){
                this.editMode = !this.editMode
                this.select_isLimited = this.accommodation_details.isLimited

            },
            async handleSaveUpdateAccommodation(){
                let fd = new FormData();
                fd.append('category', this.text_category);
                fd.append('amount', this.text_amount);
                fd.append('isLimited', this.select_isLimited);
                if(this.select_isLimited == 1){
                    fd.append('limit', this.text_slot);
                }else{
                    fd.append('limit', 0);

                }
                let {data} = await axios.post('/events/'+this.accommodation_details.pspevent_id+'/accommodations/'+this.accommodation_details.id, fd);
                if(data.status === 'success'){
                    this.editMode = !this.editMode
                    this.accommodation_details.category = this.text_category
                    this.accommodation_details.amount = this.text_amount
                    this.accommodation_details.isLimited = this.select_isLimited
                    this.accommodation_details.limit = this.select_isLimited == 1 ? this.text_slot : 0
                }
            },
            handleBackBtnClicked(){
                window.location.href = '/events/'+this.accommodation_details.event.id
            },
            handleChange(e){
                this.select_isLimited = e.target.value
                // console.log(e.target.value)
                // if(e.target.value == 1){
                //     this.accommodationIsLimited = true
                // }else{
                //     this.accommodationIsLimited = false

                // }
            }
        },
        computed:{
            renderLimit(){
                if(this.accommodation_details.isLimited == 1){
                    return this.accommodation_details.limit
                }else{
                    return 'N/A'
                }
            },
            renderIsLimitedSlot(){
                if(this.accommodation_details.isLimited == 1){
                    return 'Yes'
                }else{
                    return 'No'
                }                
            }
        }
    }
</script>
