<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
            
                <div class="card rounded-0">
                    <div class="rounded-0 card-header bg-primary text-light"><i class="fa fa-arrow-left" @click="handleBackBtnClicked" style="cursor: pointer;"></i></div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-8">
                                <div class="card rounded-0 shadow-sm border-info ">
                                    <div class="card-body">
                                        <h4 class="card-title text-info">{{text_title}}</h4>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12" v-if="!editMode">
                                                <p  class="pb-1 text-primary"><u  style="cursor: pointer;" @click="handleEditEventClicked">Edit</u></p>
                                                <p class="mb-0"><strong>Date</strong></p>
                                                <p>{{parseDate}}</p>
                                                <p class="mb-0"><strong>Time</strong></p>
                                                <p>{{parseTime}}</p>
                                                <p class="mb-0"><strong>Registration Start Time</strong></p>
                                                <p>{{parseStartTime}}</p>
                                                <p class="mb-0"><strong>Registration End Time</strong></p>
                                                <p>{{parseEndTime}}</p>
                                                <p class="mb-0"><strong>Venue</strong></p>
                                                <p>{{propsEvent.venue}}</p>                                
                                                <p class="mb-0" v-if="propsEvent.description != null && propsEvent.description != ''"><strong>Description</strong></p>
                                                <p v-html="propsEvent.description"></p>
                                                <div v-if="propsEvent.uploaded_description_file != null && propsEvent.uploaded_description_file != ''">
                                                    <p v-html="renderFileUpload"></p>   
                                                </div>   
                                            </div>
                                            <div class="col-12" v-else>
                                                <form>
                                                  <fieldset>
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Title:</legend>
                                                      <div class="col-sm-8">
                                                        <input type="text" class="form-control" placeholder="Title here" v-model="text_title">
                                                      </div>
                                                    </div> 
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Date:</legend>
                                                      <div class="col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input 
                                                                    type="date" 
                                                                    class="form-control form-control-lg"
                                                                    v-model="start_dt"
                                                                >
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input 
                                                                    type="date" 
                                                                    class="form-control form-control-lg"
                                                                    v-model="end_dt"
                                                                >
                                                            </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Start Time:</legend>
                                                      <div class="col-sm-8">
                                                        <input type="time" v-model="startTime" class="form-control form-control-lg">
                                                      </div>
                                                    </div>                                                        
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">End Time:</legend>
                                                      <div class="col-sm-8">
                                                        <input type="time" v-model="endTime" class="form-control form-control-lg">
                                                      </div>
                                                    </div> 

                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Registration Start:</legend>
                                                      <div class="col-sm-8">
                                                        <input type="datetime-local" v-model="registration_start_time" class="form-control form-control-lg">
                                                      </div>
                                                    </div>                                                        
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Registration End:</legend>
                                                      <div class="col-sm-8">
                                                        <input type="datetime-local" v-model="registration_end_time" class="form-control form-control-lg">
                                                      </div>
                                                    </div>    
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Venue:</legend>
                                                      <div class="col-sm-8">
                                                        <textarea class="form-control" v-model="textarea_venue" placeholder="Venue here" rows="3" style="resize: none;"></textarea>
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Description:</legend>
                                                      <div class="col-sm-8">
                                                        <vue-editor v-model="textarea_description"></vue-editor>
                                                        <!-- 
                                                        // <textarea class="form-control" v-model="textarea_description" placeholder="Description here" rows="3" style="resize: none;"></textarea>
                                                        -->
                                                      </div>
                                                    </div>                      
                                                    <div class="form-group row">
                                                      <legend class="col-sm-4">Description File:</legend>
                                                      <div class="col-sm-8">
                                                        <div class="form-group">
                                                          <input type="file" class="form-control-file" @change="handleFileChange">
                                                        </div>               
                                                      </div>
                                                    </div>                                                         
                                                  </fieldset>
                                                    <button class="btn btn-primary rounded-0" @click.prevent="handleUpdateEventClicked" :disabled="isSuccess == false">Update</button>
                                                    <button class="btn btn-secondary rounded-0" @click="handleCancelEditClicked">Cancel</button> 
                                                    <loader v-if="isSuccess == false"></loader>                                 
                                                </form>                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <button @click="handleViewParticipantsBtnClicked" type="button" class="btn btn-primary btn-lg btn-block rounded-0"><i class="fa fa-users"></i> View Registrants</button>
                                <button @click="handleViewAttendance" type="button" class="btn btn-secondary btn-lg btn-block rounded-0"><i class="fa fa-clock-o" aria-hidden="true"></i> Attendance</button>
                                <hr>
                                <auth-event-rates :propsEvent="propsEvent"></auth-event-rates>
                                <auth-event-additional-fees :propsEvent="propsEvent"></auth-event-additional-fees`>
                                <auth-event-vouchers :propsEvent="propsEvent"></auth-event-vouchers>
                                <!-- <auth-event-accommodations :propsEvent="propsEvent"></auth-event-accommodations> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { VueEditor } from "vue2-editor";
    export default {
        components:{
            VueEditor
        },
        mounted() {
            this.propsEvent = this.event
            this.bindEvent()
            
        },
        data(){
            return{
                editMode: false,
                text_title: '',
                date: '',
                startTime: '',
                endTime: '',
                textarea_venue: '',
                textarea_description: '',
                file_description: [],   
                propsEvent: [],
                start_dt: '',
                end_dt: '',
                registration_start_time: '',
                registration_end_time: '',
                file: '',
                isSuccess: null,
            }
        },
        props:['event'],
        computed:{
            // thisEvent(){
            //     this.text_title = this.event.title
            //     this.date = { "start": this.event.start_dt, "end": this.event.end_dt }
            //     this.startTime = this.event.start_tm
            //     this.endTime = this.event.end_tm
            //     this.textarea_venue = this.event.venue
            //     this.textarea_description = this.event.description
            //     return this.event
            // },
            parseDate(){
                let start_dt = new Date(Date.parse(this.propsEvent.start_dt));
                let end_dt = new Date(Date.parse(this.propsEvent.end_dt));
                return start_dt.toDateString()+" - "+end_dt.toDateString();                
            },
            parseTime(){
                return this.propsEvent.start_tm+" - "+this.propsEvent.end_tm
            },
            renderFileUpload(){
                if(this.propsEvent.uploaded_description_file){
                    if(this.propsEvent.uploaded_description_file.substr(this.propsEvent.uploaded_description_file.length - 3) === 'pdf'){
                        return '<object data="'+this.propsEvent.uploaded_description_file+'" type="application/pdf" width="100%" height="500px"><p>Alternative text - include a link <a href="'+this.propsEvent.uploaded_description_file+'">to the PDF!</a></p></object>'
                    }else{

                        return "<img class='img-fluid' src='"+this.propsEvent.uploaded_description_file+"'>"
                    }
                }else{
                    return 'No uploaded file.'
                }
            },
            parseStartTime(){
                const ts = new Date(this.registration_start_time)
                return ts.toLocaleString()
            },
            parseEndTime(){
                const ts = new Date(this.registration_end_time)
                return ts.toLocaleString()
            }
        },
        methods:{
            handleViewParticipantsBtnClicked(){
                window.location.href="/events/"+this.propsEvent.id+'/participants'
            },
            handleViewAttendance(){
                window.location.href="/events/"+this.propsEvent.id+'/attendance'
            },
            bindEvent(){
                this.text_title = this.event.title
                // this.date = { "start": this.event.start_dt, "end": this.event.end_dt }
                this.start_dt = this.event.start_dt
                this.end_dt = this.event.end_dt
                this.startTime = this.event.start_tm
                this.endTime = this.event.end_tm
                this.textarea_venue = this.event.venue
                this.textarea_description = this.event.description  
                this.registration_start_time = this.event.start_registration
                this.registration_end_time = this.event.end_registration
                              
            },
            handleBackBtnClicked(){
                window.location.href="/events"
            },
            handleEditEventClicked(){
                this.editMode = !this.editMode
            },
            async handleUpdateEventClicked(){
                this.isSuccess = false
                let fd = new FormData();
                fd.append('id', this.propsEvent.id);
                fd.append('title', this.text_title);
                fd.append('start_dt', this.start_dt);
                fd.append('end_dt', this.end_dt);
                fd.append('start_tm', this.startTime);
                fd.append('end_tm', this.endTime);
                fd.append('venue', this.textarea_venue);
                fd.append('description', this.textarea_description);
                fd.append('file_description', this.file);
                fd.append('start_registration', this.registration_start_time);
                fd.append('end_registration', this.registration_end_time);
                let {data} = await axios.post('/events/update', fd);
                if(data.status == 'success'){
                    this.propsEvent.title = this.text_title
                    this.propsEvent.start_dt = this.start_dt
                    this.propsEvent.end_dt = this.end_dt
                    this.propsEvent.start_tm = this.startTime
                    this.propsEvent.end_tm = this.endTime
                    this.propsEvent.venue = this.textarea_venue
                    this.propsEvent.description = this.textarea_description
                    this.propsEvent.uploaded_description_file = data.uploaded_description_file
                    // this.propsEvent.registration_start_time = data.uploaded_description_file
                    // this.propsEvent.registration_end_time = data.uploaded_description_file
                    this.editMode = !this.editMode
                    this.isSuccess = true
                }
            },
            handleCancelEditClicked(){
                this.text_title = this.event.title
                this.editMode = !this.editMode

            },
            handleFileChange(e){
                if(this.file != undefined){
                    this.selectedForUpload =''
                }
                this.renderToUploadReceipt(e.target)          
                this.file = e.target.files[0]
            },     
            renderToUploadReceipt(input){
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = (e) =>{
                        this.selectedForUpload = e.target.result
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            },             
        }

    }
</script>
